Repository ioBroker/ioBroker.repositories, pull requests merged in 2020-06, with the labels that each got.

#798 Bump Sonnen
  sources-dist-stable.json
Labels: auto-checked

#800 Add zwave2 to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#803 Update to V2.0.3
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#781 Added synology
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#806 Up mpd
  sources-dist-stable.json
Labels: auto-checked

#805 Up exchangerates
  sources-dist-stable.json
Labels: auto-checked

#804 Up foobar2000
  sources-dist-stable.json
Labels: auto-checked

#738 update openligadb to v1.1.0
  sources-dist-stable.json
Labels: Adapter-Review needed, auto-checked

#810 add midea adapter to stable
  sources-dist-stable.json
Labels: auto-checked

#811 Update deconz to 1.3.9
  sources-dist-stable.json
Labels: auto-checked

#812 update daswetter, ebus and sbfspot
  sources-dist-stable.json
Labels: auto-checked

#818 Update backitup, schoolfree, shuttercontrol
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#819 added Tinkerboard Monitoring
  sources-dist-stable.json
Labels: auto-checked

#779 Added vis-icontwo to latest
  sources-dist.json
Labels: auto-checked, must be fixed

#814 Update sources-dist-stable.json
  sources-dist-stable.json
Labels: auto-checked

#816 Update radiohead to 1.0.7
  sources-dist-stable.json
Labels: auto-checked

#736 new adapter smartgarden
  sources-dist.json
Labels: auto-checked, must be fixed, question

#820 Updating MieleCloudService to v1.2.4 in stable repo
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#822 update heatingcontrol
  sources-dist-stable.json
Labels: auto-checked

#766 add minuvis to latest
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#774 UP vis-players
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#813 update valloxmv to 0.1.2
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#746 add doorio
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, question

#823 Added vis-icontwo to stable & updated vis-inventwo
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#826 add smartgarden to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#827 Update several adapter to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#829 Update iogo stable to 0.5.10
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#828 Shelly Version 3.3.3
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#833 Updated latest innogy-smarthome lib to 0.3.5
  sources-dist-stable.json
Labels: auto-checked, must be fixed
