Repository ioBroker/ioBroker.repositories, pull requests merged in 2020-03, with the labels that each got.

#627 iobroker.accuweather adapter added
  sources-dist.json
Labels: auto-checked, must be fixed

#573 Added contact & calendar to latest
  sources-dist.json
Labels: auto-checked, must be fixed

#638 fb-checkpresence 0.3.0 added to stable
  sources-dist-stable.json
Labels: auto-checked

#633 Added Trashschedule adapter
  sources-dist.json
Labels: auto-checked, must be fixed

#637 Add senec adapter to latest
  sources-dist.json
Labels: auto-checked, must be fixed

#641 first stable version of heatingcontrol 0.3.17
  sources-dist-stable.json
Labels: auto-checked

#642 Adding MieleCloudService v1.0.5 to stable repo
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#643 update deconz to 1.2.6
  sources-dist-stable.json
Labels: auto-checked

#644 Fix pic link
  sources-dist.json
Labels: must be fixed

#639 Updated countdown adapter to 1.0.5
  sources-dist-stable.json
Labels: auto-checked

#646 update iogo to 0.5.6
  sources-dist-stable.json
Labels: auto-checked

#645 bump email
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#636 proxmoix to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#632 Added vis-inventwo adapter to latest
  sources-dist.json
Labels: auto-checked, must be fixed

#649 Add tesla-motors
  sources-dist-stable.json
Labels: auto-checked

#592 Add noolitef adapter to repository
  sources-dist.json
Labels: auto-checked, must be fixed

#635 solarlog v1.2.2 to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#650 Set Nuki v. 1.1.5 to stable
  sources-dist-stable.json
Labels: auto-checked

#628 Add vaillant and volvo adapter
  sources-dist.json
Labels: auto-checked, must be fixed

#651 solarviewdatareader added to latest
  sources-dist.json
Labels: auto-checked, must be fixed

#657 bump xbox
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#647 New Stable Version of swiss-weather-api
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#652 Robonect adapter
  sources-dist.json
Labels: auto-checked, must be fixed

#665 update Corona-Statistics & Release KNMI weather
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#664 bump rega
  sources-dist-stable.json
Labels: auto-checked

#660 Updating MieleCloudService in Stable to V1.1.0
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#663 up mikrotik to 1.0.11
  sources-dist-stable.json
Labels: auto-checked

#666 Update backitup
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#669 heatingcontrol new stable 0.3.19
  sources-dist-stable.json
Labels: auto-checked

#674 Add robonect to stable
  sources-dist-stable.json
Labels: auto-checked

#673 Update nuki-extended in stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#672 Update hue-extended in stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#682 push backitup 1.4.5
  sources-dist-stable.json
Labels: auto-checked

#677 update nina and velux adapter in stable
  sources-dist-stable.json
Labels: auto-checked

#676 Set Nuki version 1.2.0 to stable
  sources-dist-stable.json
Labels: auto-checked

#679 - added myQ to repo
  sources-dist.json
Labels: auto-checked

#683 Update schoolfree 0.5.0
  sources-dist-stable.json
Labels: auto-checked, must be fixed
