Repository ioBroker/ioBroker.repositories, pull requests merged in 2020-05, with the labels that each got.

#747 update admin 4 and web 3 "chains"
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#749 Updating MieleCloudService to v1.2.1 in stable repo
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#748 bump xbox stable
  sources-dist-stable.json
Labels: auto-checked

#750 update deconz to v1.3.6
  sources-dist-stable.json
Labels: auto-checked

#751 Added exchangerates
  sources-dist-stable.json
Labels: auto-checked

#755 update bsblan version to 0.1.0
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#753 Bump hm-rpc stable
  sources-dist-stable.json
Labels: auto-checked

#758 Add Info 1.7.2 to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#759 solarlog v2.0.0
  sources-dist-stable.json
Labels: auto-checked

#737 added fixed mclighting
  sources-dist-stable.json
Labels: auto-checked

#742 Add windows-control to stable
  sources-dist-stable.json
Labels: auto-checked

#744 new version of binance adapter
  sources-dist-stable.json
Labels: auto-checked

#765 add midea adapter
  sources-dist-stable.json
  sources-dist.json
Labels: Adapter-Review needed, auto-checked, must be fixed

#769 Ring Adapter Version 1.1.3
  sources-dist-stable.json
Labels: auto-checked

#757 Added legrand-ecocompteur
  sources-dist.json
Labels: auto-checked, lgtm, question

#760 Update sources-dist-stable.json add alarm
  sources-dist-stable.json
Labels: auto-checked

#764 Updated Adapters (LaMetric, Trashschedule, YouTube, added OctoPrint)
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, must be fixed, question

#771 update upnp to v1.0.16
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#775 Update Nuki adapter 1.2.0 to 1.2.3
  sources-dist-stable.json
Labels: auto-checked

#778 Up lgtv-rs to 0.1.0
  sources-dist-stable.json
Labels: auto-checked

#782 Bump BLE to 0.11.6
  sources-dist-stable.json
Labels: auto-checked

#784 Update G-Homa to 0.5.2
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#789 hotfix xbox
  sources-dist-stable.json
Labels: auto-checked

#729 Transfer yamaha to community
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, must be fixed, question

#787 fullybrowser 1.0.3
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#788 Added ecovacs-deebot to sources-dist-stable.json
  sources-dist-stable.json
Labels: auto-checked

#786 hs100 - "version": "1.1.5"
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#792 Bump denon
  sources-dist-stable.json
Labels: auto-checked

#791 Up mercury
  sources-dist-stable.json
Labels: auto-checked

#795 update fb-checkpresence to version 1.0.3 in stable repo
  sources-dist-stable.json
Labels: auto-checked

#796 Bump hue
  sources-dist-stable.json
Labels: auto-checked

#797 Bump tradfri stable version
  sources-dist-stable.json
Labels: auto-checked

#780 Update Plex in stable repo
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#793 Update sources-dist-stable.json to bring ioBroker.beckhoff 1.2.2 to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed
