Repository ioBroker/ioBroker.repositories, pull requests merged in 2020-07, with the labels that each got.

#837 Bump g-homa to 0.5.3
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#790 Add iobroker.melcloud to latest
  sources-dist.json
Labels: question

#842 hue-extended v1.3.8 to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#859 add solarviewdatareader to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#862 Updated Luftdaten and Trashschedule
  sources-dist-stable.json
Labels: auto-checked

#863 Update stable version for klf200.
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#849 ValloxMV Adapter 1.1.1
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#856 Update sources-dist-stable.json
  sources-dist-stable.json
Labels: auto-checked, must be fixed
