Repository ioBroker/ioBroker.repositories, pull requests merged in 2020-09, with the labels that each got.

#900 update worx
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#901 Update DoorIO to 1.0.10
  sources-dist-stable.json
Labels: auto-checked

#874 add linux-control to latest
  sources-dist.json
Labels: auto-checked, must be fixed

#928 Push Nuki adapter v1.3.1 to stable
  sources-dist-stable.json
Labels: auto-checked

#919 Suggest jarvis for latest repository
  sources-dist.json
Labels: auto-checked, must be fixed

#930 Add smartcontrol to Latest
  sources-dist.json
Labels: auto-checked

#924 add seq to latest
  sources-dist.json
Labels: must be fixed, question

#914 Update Heytech Adapter
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#871 Integrating adapter fahrplan
  sources-dist.json
Labels: auto-checked, must be fixed

#916 Add kostal-piko-ba to stable
  sources-dist-stable.json
Labels: must be fixed, question

#903 Add schwoerer-ventcube adapter
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, question
