Repository ioBroker/ioBroker.repositories, pull requests merged in 2020-11, with the labels that each got.

#964 Added OctoPrint 1.0.0
  sources-dist-stable.json
Labels: auto-checked

#975 Update backitup
  sources-dist-stable.json
Labels: auto-checked

#976 update shuttercontrol
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#977 update schoolfree
  sources-dist-stable.json
Labels: auto-checked

#978 Updated OctoPrint, Tashschedule and Luftdaten
  sources-dist-stable.json
Labels: auto-checked

#987 push Nuki v. 1.4.1 to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#885 Add Growatt solar inverter
  sources-dist.json
Labels: auto-checked, must be fixed, question

#974 Added canbus to latest
  sources-dist.json
Labels: auto-checked, must be fixed, question

#937 add heos to latest
  sources-dist.json
Labels: auto-checked, must be fixed, question

#980 adapter "device-reminder": release to latest
  sources-dist.json
Labels: must be fixed, question

#921 add net-tools to latest
  sources-dist.json
Labels: question

#825 add adapter followthesun to latest repository
  README.md
  sources-dist.json
Labels: auto-checked, must be fixed

#1001 add i2c to stable
  sources-dist-stable.json
Labels: auto-checked

#799 added iobroker.adb to latest
  sources-dist.json
Labels: must be fixed, question

#1005 Update moma to 1.2.7
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1006 update fb-checkpresence to 1.1.0
  sources-dist-stable.json
Labels: auto-checked

#1007 Update vis-inventwo to 2.5.11
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1008 Update i2c to 1.1.1
  sources-dist-stable.json
Labels: auto-checked

#994 Added adapter frontier_silicon
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, question
