Repository ioBroker/ioBroker.repositories, pull requests merged in 2020-12, with the labels that each got.

#990 add Adapter mytime to latest
  sources-dist.json
Labels: auto-checked, must be fixed, question

#1015 iobroker.bsblan 0.2.0 to stable
  sources-dist-stable.json
Labels: auto-checked

#1020 Fix ioBroker.homeconnect source
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, must be fixed

#1022 Update stable versions and add volvo adapter to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1023 Add MyStrom to latest
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#929 add Todoist2 Version 0.7.1 to latest
  sources-dist.json
Labels: must be fixed, question

#1031 add followthesun v0.2.4 to stable
  sources-dist-stable.json
Labels: must be fixed

#1037 update iogo to 0.6.5
  sources-dist-stable.json
Labels: auto-checked

#1039 linkeddevices stable updated
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1027 Added Adapter "weatherflow_udp"
  sources-dist.json
Labels: auto-checked, lgtm, must be fixed

#1044 update ebus and heatingcontrol stable version
  sources-dist-stable.json
Labels: auto-checked, must be fixed
