Repository ioBroker/ioBroker.repositories, pull requests merged in 2021-04, with the labels that each got.

#1215 Update sources-dist-stable.json
  sources-dist-stable.json
Labels: must be fixed

#1065 add hyperion_NG adapter as lighting
  sources-dist.json
Labels: must be fixed, question

#1087 judoisoft
  sources-dist.json
Labels: must be fixed, question

#1206 pegelalarm added to latest
  sources-dist.json
Labels: auto-checked, must be fixed, question

#1157 Add vis-3dmodel widget
  sources-dist.json
Labels: must be fixed, question

#1160 ioBroker.googleauth added to latest
  sources-dist.json
Labels: Adapter-Review needed, must be fixed, question

#1236 Bump zwave2 to 1.9.3
  sources-dist-stable.json
Labels: auto-checked

#1237 Update sources-dist-stable.json
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1247 Update sources-dist-stable.json
  sources-dist-stable.json
Labels: auto-checked

#1251 Bump Tradfri to 2.7.2
  sources-dist-stable.json
Labels: auto-checked
