Repository ioBroker/ioBroker.repositories, pull requests merged in 2021-08, with the labels that each got.

#1372 Updated luftdaten, octoprint, youtube, lametric, trashschedule
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1369 Collected dependencies needed for Admin 5 Stable push
  sources-dist-stable.json
Labels: must be fixed, auto-checked

#1367 Request to add weatherflow_udp to stable
  sources-dist-stable.json
Labels: must be fixed

#1113 Added zoe2
  sources-dist.json
Labels: question, must be fixed, auto-checked

#1302 (simatec) solax added
  sources-dist.json
Labels: question, must be fixed

#1336 add ioBroker.adguard to latest
  sources-dist.json
Labels: question

#1339 add Fiat adapter
  sources-dist.json
Labels: question, must be fixed, auto-checked

#1343 add ico to latest
  sources-dist.json
Labels: question, must be fixed

#986 added awattar adapter
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, Adapter-Review needed

#1198 Add speedport to latest
  sources-dist.json
Labels: question, must be fixed

#1400 Bumped dysonAirPurifier to V0.9.5
  sources-dist-stable.json
Labels: must be fixed, auto-checked

#1401 Bump zwave2 to 1.10.4
  sources-dist-stable.json
Labels: auto-checked

#1380 add Heizoel adapter
  sources-dist.json
Labels: must be fixed, auto-checked
