Repository ioBroker/ioBroker.repositories, pull requests merged in 2021-07, with the labels that each got.

#1328 Emergency bump tradfri (gateway compatiblity)
  sources-dist-stable.json
Labels: auto-checked

#1335 Bump zwave2 to 1.10.2
  sources-dist-stable.json
Labels: auto-checked

#1196 AirConWithMe Adapter (neuer Versuch)
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, question

#1239 Airzone Adapter
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, question

#1310 add bydhvs adapter
  package.json
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, must be fixed

#1245 Add ioBroker.pixelit to latest
  sources-dist.json
Labels: must be fixed, question

#1249 uv-protect added
  sources-dist.json
Labels: auto-checked, must be fixed, question

#1252 added ikettle2
  sources-dist.json
Labels: must be fixed, question

#1259 Update due to security alerts on dependencies
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, must be fixed, question

#1319 add psa adapter to latest
  sources-dist.json
Labels: auto-checked, must be fixed

#1165 add anel hut to latest
  sources-dist.json
Labels: auto-checked, must be fixed, question
