Repository ioBroker/ioBroker.repositories, pull requests merged in 2021-01, with the labels that each got.

#1055 Update netatmo-crawler to 0.3.9
  sources-dist-stable.json
Labels: must be fixed

#1061 new stable version of stiebel-isg
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1060 Updated Yahka to 0.12.0
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1064 Added adapter go-e in Version 1 to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1073 milight-smart-light@1.2.0: update sources-dist-stable.json
  sources-dist-stable.json
Labels: auto-checked

#1074 Stable updates: ds18b20 v1.2.1, odl v1.1.4, radiohead v1.1.1
  sources-dist-stable.json
Labels: auto-checked

#1072 BoseSoundtouch: stable version 0.9.3
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed

#1093 Bosch Smart Home Bridge Adapter stable 0.1.12
  sources-dist-stable.json
Labels: auto-checked

#1094 Bump zwave2 to 1.8.5
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1054 Add iobroker.haassohn adapter to latest
  sources-dist.json
Labels: auto-checked, must be fixed

#1095 add seq to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed
