Repository ioBroker/ioBroker.repositories, pull requests merged in 2021-02, with the labels that each got.

#1097 Add epson_ecotank_et_2750
  sources-dist.json
Labels: must be fixed, question

#1062 Add alias-manager
  sources-dist.json
Labels: question

#1029 Add Twinkly Adapter into latest
  sources-dist.json
Labels: auto-checked, must be fixed, question

#735 palazzetti adapter added to sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, must be fixed, question

#1092 Pls add new Adapter for LG ESS Home Inverter
  sources-dist.json
Labels: must be fixed, question

#1109 Several adapter updates
  sources-dist-stable.json
Labels: auto-checked

#754 Add time-switch to latest
  sources-dist.json
Labels: must be fixed, question

#809 Added omnicomm-lls
  sources-dist.json
Labels: auto-checked, must be fixed, question

#938 Bumped Miele CloudService to Version 2.0.3 in stable and added dysonAirPurifier to latest
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, question

#1048 Update sources-dist.json hinzufügen vom Omron-fins Adapter
  sources-dist.json
Labels: must be fixed, question

#1053 add fuelpricemonitor to latest
  sources-dist.json
Labels: must be fixed, question

#1114 Update tesla-motors in sources-dist-stable.json
  sources-dist-stable.json
Labels: Adapter-Review needed, auto-checked, must be fixed

#954 Added new adapter "linktap"
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, must be fixed, question

#1124 add cec2 to latest
  sources-dist.json
Labels: must be fixed, question

#1127 Add new Adapter tvprogram
  sources-dist.json
Labels: question

#1134 Add net-tools to stable
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1144 Bump zwave2 stable version
  sources-dist-stable.json
Labels: auto-checked

#1059 add valuetrackerovertime to latest
  sources-dist.json
Labels: auto-checked, must be fixed, question

#1149 Update adpater instalator
  sources-dist-stable.json
Labels: must be fixed

#1115 Added volumio adapter
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, question

#1140 added adpater sureflap to latest
  sources-dist.json
Labels: must be fixed, question
