Repository ioBroker/ioBroker.repositories, pull requests merged in 2021-03, with the labels that each got.

#1080 Divera247
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, question

#1168 Rename Adapter diashow to slideshow
  sources-dist.json
Labels: must be fixed

#1174 Bump Tradfri to 2.7.1
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1178 update fritzdect to latest version
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1185 Update i2c to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, must be fixed

#1136 Add iobroker.easee
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, question

#794 add sainlogic to latest
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, question

#1152 add ESPHome
  sources-dist.json
Labels: auto-checked, must be fixed, question

#1182 update stable version of Discovergy adapter
  sources-dist-stable.json
Labels: Adapter-Review needed

#1167 Add Traccar
  sources-dist.json
Labels: must be fixed, question
