Repository ioBroker/ioBroker.repositories, pull requests merged in 2021-06, with the labels that each got.

#1300 Bump zwave2 to 1.10.1
  sources-dist-stable.json
Labels: auto-checked

#1231 Update souce-list
  sources-dist.json
Labels: must be fixed, question

#1308 Bump tradfri to 2.7.3
  sources-dist-stable.json
Labels: auto-checked

#1318 Add Trivum Adapter
  sources-dist-stable.json
Labels: must be fixed
