Repository ioBroker/ioBroker.repositories, pull requests merged in 2021-12, with the labels that each got.

#1549 Bump zwave2 to 2.4.1
  sources-dist-stable.json
Labels: auto-checked

#1553 add openknx
  sources-dist.json
Labels: must be fixed, auto-checked

#1414 add Warema WMS Webcontrol Pro
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1415 add Nissan Adapter
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1452 update viessmannapi url
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1453 add helios
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1455 add bestway
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1456 add smartthings
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1457 add renault
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1458 add maveo
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1460 Add wireless-mbus to latest
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1451 add lg-thinq
  sources-dist.json
Labels: question, must be fixed

#1454 add intex
  sources-dist.json
Labels: question, must be fixed

#1464 add hekr
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1516 add toyota
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1517 add froeling
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1515 Added Birthdays Adapter
  lib/scripts.js
  sources-dist-stable.json
  sources-dist.json
Labels: Adapter-Review needed, auto-checked
