Repository ioBroker/ioBroker.repositories, pull requests merged in 2022-03, with the labels that each got.

#1686 added new wireguard adapter to latest
  sources-dist.json
Labels: Adapter-Review needed

#1717 added new adapter chargemaster
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1716 add winsipbrowser to latest repository
  sources-dist.json
Labels: question, must be fixed, auto-checked
