Repository ioBroker/ioBroker.repositories, pull requests merged in 2022-11, with the labels that each got.

#1929 Add ecoflow to latest
  sources-dist.json
Labels: question

#1894 Added haus-bus.de adapter
  sources-dist-stable.json
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1930 Add evcc to latest
  sources-dist.json
Labels: question, must be fixed

#1941 add yahoo-stock-market to latest
  sources-dist.json
Labels: question, must be fixed

#1949 Added teslamateapi
  sources-dist.json
Labels: question, must be fixed

#1974 added alternative pjlink
  sources-dist.json
Labels: question, must be fixed
