Repository ioBroker/ioBroker.repositories, pull requests merged in 2022-09, with the labels that each got.

#1928 added loqed to latest
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1786 add pvoutputorg to latest
  sources-dist-stable.json
  sources-dist.json
Labels: question, must be fixed, auto-checked

#1869 Add vds2465-server to latest
  sources-dist.json
Labels: question, must be fixed, auto-checked

#1867 Add Heizungssteuerung Adapter
  sources-dist.json
Labels: question, must be fixed, auto-checked

#1931 Add imow
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1932 add seko
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1933 add libre
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1934 add hoover
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1935 add Bosch eBike
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1936 add niu
  sources-dist.json
Labels: must be fixed, auto-checked

#1937 add solarweb
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1942 new adapter: add philips tv
  sources-dist.json
Labels: question, must be fixed

#1906 Add solarmanpv to latest
  sources-dist.json
Labels: question, must be fixed

#1878 Add device-watcher to latest
  sources-dist.json
Labels: question, must be fixed

#1938 add tapo
  sources-dist.json
Labels: question

#1912 Add operating-hours to latest
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1738 ADD: New Adapter fitbit-fitness
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, auto-checked

#1621 adding rct adapter
  sources-dist.json
Labels: question, must be fixed

#1948 bump zwave2 to 3.0.3
  sources-dist-stable.json
Labels: auto-checked
