Repository ioBroker/ioBroker.repositories, pull requests merged in 2022-05, with the labels that each got.

#1806 Bump tradfri to 3.1.3
  sources-dist-stable.json
Labels: auto-checked

#1807 Bump zwave2 to 2.5.0
  sources-dist-stable.json
Labels: auto-checked

#1701 iwg-vpn
  sources-dist.json
Labels: question, must be fixed

#1706 added new pvforecast adapter
  sources-dist-stable.json
  sources-dist.json
Labels: question

#1720 add wiegand-tcpip v0.4.6
  sources-dist-stable.json
  sources-dist.json
Labels: question, must be fixed

#1809 Add discord to latest
  sources-dist.json
Labels: question, lgtm

#1790 added puppeteer to latest repo
  sources-dist.json
Labels: question, must be fixed

#1699 Alexa-shoppinglist Adapter
  sources-dist.json
Labels: question, must be fixed

#1620 Added a message queue adapter
  sources-dist.json
Labels: question, must be fixed

#1751 Added adapter for WARP chargers to sources-dist.json
  sources-dist.json
Labels: question, must be fixed, auto-checked

#1759 Synology-Chat adapter
  sources-dist-stable.json
  sources-dist.json
Labels: question, must be fixed
