Repository ioBroker/ioBroker.repositories, pull requests merged in 2022-01, with the labels that each got.

#1576 Bump Tradfri to 3.1.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked

#1445 Add netro adapter
  sources-dist.json
Labels: question, must be fixed

#1479 add sureflap:1.0.5 to stable
  sources-dist-stable.json
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1510 Add new Adapter AIO
  sources-dist-stable.json
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1446 add adapter artnet-recorder to latest
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1477 Add xiaomi-gateway3 adapter
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1537 Update sources-dist.json with adapter powerfox2
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1539 Add SteMaker/ioBroker.hdg-bavaria repository
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1567 Neuer Adapter: innoxel
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1582 Remove wm-bus adapter
  sources-dist-stable.json
  sources-dist.json
Labels: admin-notification-ready

#1590 add porsche
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1592 add smart eq
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1594 add withings
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1277 Remove adapter iobroker.squeezebox from stable
  sources-dist-stable.json
  sources-dist.json
Labels: admin-notification-ready

#1591 add zehnder-cloud
  sources-dist.json
Labels: question, must be fixed

#1593 add bwt
  sources-dist.json
Labels: question, must be fixed

#1607 update stable adapter versions
  sources-dist-stable.json
Labels: question

#1586 added ocpp to latest
  sources-dist.json
Labels: question, must be fixed

#1585 Add selveRF to latest
  sources-dist-stable.json
  sources-dist.json
Labels: question, must be fixed

#1598 ems-esp adapter please add to repository
  sources-dist-stable.json
  sources-dist.json
Labels: question, must be fixed

#1580 add wiobrowser
  sources-dist.json
Labels: question, must be fixed
