Repository ioBroker/ioBroker.repositories, pull requests merged in 2022-02, with the labels that each got.

#1655 Updated shelly repository url to iobroker-community-adapters
  sources-dist-stable.json
  sources-dist.json
Labels: lgtm

#1513 added resol adapter to latest
  sources-dist.json
Labels: Adapter-Review needed

#1603 bump jarvis to 3.0.11 in stable repo
  sources-dist-stable.json
Labels: Adapter-Review needed

#1612 Added hikvision-alarmserver
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1604 register iobroker.blebox adapter
  sources-dist-stable.json
  sources-dist.json
Labels: Adapter-Review needed

#1635 [New Adapter] gigaset -elements
  sources-dist.json
Labels: Adapter-Review needed

#1038 Netatmo Energy adapter added
  sources-dist-stable.json
  sources-dist.json
Labels: question

#1658 add Adapter Webuntis
  sources-dist-stable.json
  sources-dist.json
Labels: Adapter-Review needed

#1506 panasonic-comfort-cloud adapter added.
  sources-dist.json
Labels: Adapter-Review needed

#1674 Please add signal-cmb
  sources-dist-stable.json
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1677 Bump zwave2 to 2.4.3
  sources-dist-stable.json
Labels: auto-checked

#1689 added ocpp stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked

#1690 Add parcel to latest
  sources-dist.json
Labels: auto-checked

#1678 Please add apcups.
  sources-dist-stable.json
  sources-dist.json
Labels: question, must be fixed, auto-checked
