Repository ioBroker/ioBroker.repositories, pull requests merged in 2023-06, with the labels that each got.

#2329 Update sources-dist-stable.json
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2331 Update mydlink to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2333 Update comfoair to 1.1.8
  sources-dist-stable.json
Labels: Stable

#2337 Update pvforecast to 2.7.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2340 Adapter doorbird moved to community
  sources-dist.json
Labels: must be fixed, auto-checked

#2314 add web frontend usage to README.md
  README.md
Labels: docu

#2335 iwg-vpn new stable version
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2311 Update solarmanpv to 0.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2353 Updated birthdays, YouTube, LaMetric, Shelly
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new

#2354 Update iceroad to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2355 Update logparser to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2359 Update countdown to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2365 remove adapter binance
  sources-dist-stable.json
  sources-dist.json
Labels: CHANGES-BOTH-REPOSITORIES

#2370 Update Meteoalarm in stable to 2.3.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2371 (simatec) Update Backitup v2.6.23
  sources-dist-stable.json
Labels: auto-checked, Stable

#2377 Set stable version of adapter Alpha-ESS to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2380 Update lightcontrol to 0.2.17
  sources-dist-stable.json
Labels: auto-checked, Stable

#2378 add gigaset-elements 0.3.0 to stable
  sources-dist-stable.json
Labels: Adapter-Review needed, auto-checked, Stable

#2379 add innoxel 0.3.1 to stable
  sources-dist-stable.json
Labels: must be fixed, Adapter-Review needed, auto-checked, Stable

#2382 Growatt 3.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2384 Update mydlink to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2385 Netatmo-energy updated to 2.6.1
  sources-dist-stable.json
Labels: Stable

#2368 Update solarmanpv to 0.5.0
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2367 Update sources-dist-stable.json - pi-hole and stiebel-isg
  sources-dist-stable.json
Labels: must be fixed, auto-checked, STABLE - brand new, Stable

#2386 Update openknx to 0.5.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2387 bump nuki-extended to 2.6.5
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2375 promote ioBroker.unifi to stable 0.6.6 version
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2376 promote ioBroker.ical to stable 0.13.3 version
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2390 bump proxmox to 1.3.5
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2391 Update sources-dist-stable.json
  sources-dist-stable.json
Labels: auto-checked, Stable

#2392 Update sources-dist-stable.json
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2393 Update sources-dist-stable.json
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2389 Update viessmann to 1.4.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2395 bump spotify-premium to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2402 Add alexa-timer-vis to stable repo
  sources-dist-stable.json
Labels: auto-checked, Stable
