Repository ioBroker/ioBroker.repositories, pull requests merged in 2023-05, with the labels that each got.

#2086 Add ioBroker.residents to latest repo
  sources-dist.json
Labels: auto-checked, Ready for RE-REVIEW

#2017 new adapter minuaru
  sources-dist.json
Labels: auto-checked, Ready for RE-REVIEW

#2308 Update sainlogic stable to 0.10.3
  sources-dist-stable.json
Labels: auto-checked

#2309 Update e3dc-rscp to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2312 add matrix adapter 1.0.0 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2324 update links for moved adapter ioBroker.xs1
  sources-dist-stable.json
Labels: Stable

#2325 Netatmo-Energy adapter 2.6.0 added to stable
  sources-dist-stable.json
Labels: Stable
