Repository ioBroker/ioBroker.repositories, pull requests merged in 2023-12, with the labels that each got.

#3021 Update pylontech to 0.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#2866 Add reolink to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3022 Update ems-esp to 2.6.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2996 Update go-e to 1.0.29
  sources-dist-stable.json
Labels: auto-checked, Stable

#3020 pls update icontwo to 0.98.0
  sources-dist-stable.json
Labels: auto-checked, Stable, *📬

#3025 move nsclient to mcm4iob
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3027 Update mqtt-client to 1.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3028 Update procon-ip to 1.5.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3034 Update sources-dist.json - fix formatting issue
  sources-dist.json
Labels: must be fixed, auto-checked

#3035 Update emby to 1.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3036 Add tractive-gps 1.1.0 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable, new at STABLE

#3030 update lifx 1.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3037 solaredge -> iobroker-community (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3043 Add emporia 0.0.12 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3044 Update signifylights to 0.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3045 Update telegram to 3.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3046 Update proxmox to 2.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3016 Add jablotron to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3042 update gigaset-elements to 0.4.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3041 Updated alpha-ess to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3048 Update daswetter to 3.1.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#3049 Update sbfspot to 4.1.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3050 Update ebus to 3.2.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3051 Update pvoutputorg to 1.8.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#3052 Update semp to 1.3.13
  sources-dist-stable.json
Labels: auto-checked, Stable

#3053 Update fritzdect to 2.5.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#3054 Netatmo-Energy updated to stable version to 2.7.0
  sources-dist-stable.json
Labels: Stable

#2298 Add rmb-bhkw to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3033 add srm to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3029 Update webui to 0.18.4
  sources-dist-stable.json
Labels: question, auto-checked, Stable

#3057 pls update icontwo to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3059 remove hue-extended (stable)
  sources-dist-stable.json
Labels: Stable

#3058 bump js-controller to 5.0.17 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3061 Update Frigate to 0.2.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3062 Bump tinymqttbroker to 0.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3063 Bump fuelpricemonitor to 0.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3064 Bump followthesun to 0.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3065 Bump apg-info to 0.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3068 add vis 2 widgets for radar-trap adapter to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3072 Update vis to 1.5.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2834 Add zendure-solarflow to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2219 add adapter webcal
  sources-dist.json
Labels: lgtm, auto-checked

#3055 Update openknx to 0.6.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3071 add tedee to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3088 adjust links for admin monorepo
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, CHANGES-BOTH-REPOSITORIES

#3089 Update accuweather to 1.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3090 Add vis-materialdesign to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3091 Update modbus to 6.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3092 Update pushover to 3.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3102 Update vis-justgage to 2.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3087 Update webui to 0.20.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3086 Update zigbee to 1.8.25
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#3110 (simatec) Update Backitup v2.9.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#3112 bump notification manager to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3113 Update email to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3114 Update telegram to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3111 (simatec) Update Tinker v1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3077 Update bshb to 0.2.6 at stable
  sources-dist-stable.json
Labels: Stable, man-checked

#3130 Update wled to 0.7.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3129 Update discovergy to 0.5.13
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3131 Update coronavirus-statistics to 0.9.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3132 Update knx to 2.0.24
  sources-dist-stable.json
Labels: auto-checked, Stable

#3135 Bump telegram-menu to 1.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3134 Bump drag-indicator to 2.1.4
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable

#3136 Add reolink 1.0.2 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3138 Update unifi to 0.6.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3146 Update nsclient to 0.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3141 Update icons-mfd-png to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3142 Update mbus to 2.6.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3143 Update meross to 1.16.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3144 Update smartmeter to 3.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3145 Update tuya to 3.15.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3148 Update Pegelalarm v1.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3149 Bump TibberLink stable to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3074 Add webcal 1.3.0 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - brand new, 31.12.2023

#3151 bump kostal-piko-ba stable to 3.0.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#3150 Update zigbee to 1.9.5
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - brand new, 5.1.2024

#3101 Add espresense to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3152 pls update icontwo to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable, STABLE - brand new, 4.1.2024

#3154 Update homeconnect to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3155 Update icons-mfd-svg to 1.2.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable
