Repository ioBroker/ioBroker.repositories, pull requests merged in 2023-07, with the labels that each got.

#2408 Intex 0.1.0 in service as a collaborator for TA2k
  sources-dist-stable.json
Labels: auto-checked, Stable

#2410 pls update icontwo to 0.96.0
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2413 fix for evcc adapter icon
  sources-dist.json
Labels: must be fixed, auto-checked

#2394 upate kecontact adapter to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2398 Add ioBroker.residents to stable repo
  sources-dist-stable.json
Labels: auto-checked, Stable

#2414 Update Operating Hours to 1.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2412 add adapter evcc to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2411 add yahoo-stock-market adapter to stable
  sources-dist-stable.json
Labels: must be fixed, Stable, ON HOLD

#2409 zigbee
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2406 add alexa-timer-vis 0.1.15 to stable repo
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2417 bumb kostal-piko-ba stable to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2420 Move km200 to community adapters (latest)
  sources-dist.json
Labels: auto-checked

#2421 Move km200 to community adapters (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2422 Update alarm 3.3.12
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2423 zigbee
  sources-dist-stable.json
Labels: auto-checked, Stable

#2425 Fixed awtrix-light category
  sources-dist.json
Labels: auto-checked

#2426 Fix new picture for procon-ip
  sources-dist.json
Labels: auto-checked

#2429 Bump BIRTHDAYS to 2.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2428 Bump LUFTDATEN to 3.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2430 Bumb HAUSBUS_DE to 1.2.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#2431 Bump wireless-mbus to 0.9.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2432 Bump DWD to 2.8.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2434 Bump VIS-LCARS to 1.1.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2435 Update panasonic-comfort-cloud to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2436 Dump SCHEDULER to 1.1.9 (ioBroker orga)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2437 Bump OCPP to 0.12.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2439 Update vis-inventwo to 3.3.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2445 Updated tahoma to 0.10.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2446 Bump TELEGRAM to 1.16.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2451 Update sma-em to 0.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2450 Update myvbus to 0.2.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2454 Update device-watcher to 2.9.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2438 Updating Wattpilot to latest 4.6.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, STABLE - brand new, Stable

#2453 Update twinkly to 1.0.14
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2459 zigbee2mqtt change [master] -> [main]
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, auto-checked, CHANGES-BOTH-REPOSITORIES

#2461 Update doorbird to 1.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2458 bump BLE to 0.13.4
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2457 add fakeroku to commmunity
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, auto-checked, CHANGES-BOTH-REPOSITORIES

#2460 Add opendtu to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2448 Add TibberLink to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2403 Add telegram-menu to latest repo
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2400 add tinymqttbroker to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2347 added atlas-scientific-ezo-i2c Adapter
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2330 added notification-manager to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2313 Add mediola-gateway to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2307 add frigate to sources-dist.json
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2292 Add radar-trap to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2273 Add envertech-pv to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2271 Add enigma2 to latest (migrated to iobroker-community-adapters)
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2159 Add roborock to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2165 added imap adapter
  sources-dist.json
Labels: Adapter-Review needed

#2401 add apg-info to latest
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#2151 Add tractive-gps to latest
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#2463 Update zigbee2mqtt to 2.9.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2443 add EVENTLIST to stable (iobroker orga)
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - Review needed

#2466 Update device-watcher to 2.9.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2467 Update lightcontrol to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2469 Bumb kostal-piko-ba stable to 3.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable
