Repository ioBroker/ioBroker.repositories, pull requests merged in 2023-01, with the labels that each got.

#2022 Add ioBroker.gsmsms
  sources-dist.json
Labels: auto-checked

#1983 Added Cloudflare Adapter
  sources-dist-stable.json
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#1978 Add voltoplus to latest
  sources-dist.json
Labels: question, must be fixed

#1976 Add zigbee2mqtt
  sources-dist-stable.json
  sources-dist.json
Labels: question, must be fixed

#2052 Added gira-iot
  lib/scripts.js
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#2040 add homenet
  sources-dist.json
Labels: must be fixed, Adapter-Review needed, auto-checked

#2039 add vesync
  sources-dist.json
Labels: question, must be fixed

#2038 add botslab360
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#2036 add mihome-cloud
  sources-dist.json
Labels: must be fixed, Adapter-Review needed, auto-checked

#2033 add link2home
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#2034 add Garmin
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#2035 add micronova
  sources-dist.json
Labels: must be fixed, Adapter-Review needed, auto-checked

#2037 add myenergi
  sources-dist.json
Labels: question, must be fixed, Adapter-Review needed

#2014 added ioBroker.meater
  sources-dist.json
Labels: must be fixed, Adapter-Review needed, auto-checked

#2074 add hue-sync-box to latest
  sources-dist.json
Labels: question, must be fixed

#2020 add SMA SEMP to latest
  sources-dist.json
Labels: question, must be fixed

#1985 adding tesla wall connector gen 3 to latest
  sources-dist.json
Labels: question, must be fixed

#1975 Adding Wattpilot Adapter to the source list and stable repo
  sources-dist-stable.json
  sources-dist.json
Labels: question, must be fixed

#2085 Added lighcontrol adapter
  sources-dist.json
Labels: question, must be fixed

#2087 Added adapter alpha-ess to Latest
  sources-dist.json
Labels: question, must be fixed

#1873 Add oekofen-json to latest
  sources-dist.json
Labels: question, must be fixed

#2108 add philips tv to stable
  sources-dist-stable.json
Labels: auto-checked
