Repository ioBroker/ioBroker.repositories, pull requests merged in 2023-10, with the labels that each got.

#2715 Update doorbird to 1.2.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2720 Add webui 0.12.3 to stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable, new at STABLE

#2719 Update alarm to 3.3.13 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2718 Add heizungssteuerung 1.7.0 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable, new at STABLE

#2721 Update Alpha-ESS to 1.0.2 at stable
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2714 new adapter Pylontech health
  sources-dist.json
Labels: must be fixed, lgtm, auto-checked

#2725 Bump botvac to 2.0.1 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2737 move HARMONY to community - latest
  sources-dist.json
Labels: must be fixed, auto-checked

#2739 move MQTT-CLIENT to community - latest
  sources-dist.json
Labels: must be fixed, auto-checked

#2740 move MQTT-CLIENT to community - stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2741 move VIS-JUSTGAGE to community - latest
  sources-dist.json
Labels: must be fixed, auto-checked

#2742 move VIS-JUSTGAGE to community - stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2743 Bump TibberLink stable to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2744 bump bring to 1.8.4 at stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2745 Update WLED to 0.7.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2748 Bump telegram-menu to 0.7.1 in the stable repo
  sources-dist-stable.json
Labels: auto-checked, Stable

#2749 Update zigbee2mqtt to 2.13.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2750 Update frontier_silicon to 0.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2724 Bump Plex to 1.1.3 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2734 Update musiccast to 1.1.3 at stable
  sources-dist-stable.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957), Stable

#2735 Update lifx to 1.0.3 at stable
  sources-dist-stable.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957), Stable

#2753 Update zwave2 to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2758 Update SelveRF stable version to 0.6.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2757 Update odl stable to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2746 Bump tinymqttbroker to 0.0.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#2754 Bump Tado to 0.4.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#2759 Update oekofen-json to 1.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2763 Bump lgtv to 2.1.1 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2764 Bump firetv to 2.0.2 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2765 Update zigbee2mqtt to 2.13.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2766 Update opendtu to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2770 Bump Solarlog v2.2.8 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2694 Add renacidc to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2736 Update jeelink to 1.2.3 at stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, (RE-)REVIEW pending (mcm1957), Stable

#2723 Update bsblan adapter to 0.3.1
  sources-dist-stable.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957), Stable

#2760 Bump tvspielfilm to 2.0.5 at stable
  sources-dist-stable.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957), Stable

#2781 Bump apg-info to 0.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#2792 mihome-cloud master->main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2801 mihome-cloud master->main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2795 botslab360 master->main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2796 botslab360 master->main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2797 garmin master->main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2798 garmin master->main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2793 imow master->main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2794 imow master->main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2799 hoover master->main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2800 hoover master->main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2802 vesync master ->main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2803 vesync master->main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2806 Update sureflap to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2778 Update ems-esp to 2.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2810 Fix icon path for govee-local (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2809 Update kecontact to 2.0.2 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2811 Add govee-local 0.1.2 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable, new at STABLE

#2713 Update minuvis to 2.3.3 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2692 Update bydhvs to 1.4.1 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2818 bump hue to 3.10.1 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2776 add weather-warnings to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2819 Update robonect to 1.3.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2563 add icons-smarthome to latest
  sources-dist.json
Labels: Adapter-Review needed, auto-checked

#2562 add icons-freepic to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2561 Add icons-eclipse-smarthome-classic to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2820 Update panasonic-comfort-cloud to 2.2.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2824 Emergency Update viessmannapi
  sources-dist-stable.json
Labels: auto-checked, Stable

#2821 Update janitza-gridvis to 3.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2823 Add pylontech 0.0.6 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable, new at STABLE

#2805 Bump iwg-vpn to 2.0.5 at stable
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2615 Upgrade LinkTap to 0.3.0
  sources-dist-stable.json
Labels: Stable

#2825 Update shelly to 6.4.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2826 Update alarm to 3.4.0 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2827 Update Device-Reminder V3.0.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable, *📬

#2807 Bump klf200 1.1.2 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2828 add signifylights 0.2.0 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable, new at STABLE

#2829 Update signifylights to 0.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2830 roadtraffic -> community (latest)
  sources-dist.json
Labels: auto-checked

#2832 update notification manager to 0.1.2 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2836 radar2 move to community (latest)
  sources-dist.json
Labels: auto-checked

#2837 radar2 moved to communty (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2835 Bump radar2 to 2.0.8 at stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2839 Update mqtt-client to 1.6.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2840 Update snmp to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2808 add iopooleco to latest
  sources-dist.json
Labels: lgtm, auto-checked
