Repository ioBroker/ioBroker.repositories, pull requests merged in 2023-11, with the labels that each got.

#2855 Update Backitup v2.8.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#2850 Update viessmann to 1.4.5 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2856 Update solarmanpv to 0.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2857 Update device-watcher to 2.9.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2838 Bumb TibberLink stable to 1.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2858 Bump jarvis to 3.1.8 at stable (*)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2862 Bump Kostal-Piko-BA stable to 3.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#2861 Update doorbird to 1.3.0 at stable (*)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2859 Bump resol to 1.3.0 at stable (*)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2863 Update pixelit to 1.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2864 Update synology to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2756 add vis-homekittiles to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2842 bump bydbatt to 1.1.0 at stable (#2841)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2844 bump hs100 to 2.2.0 at stable (#2841)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2845 bump judoisoft to 1.1.0 at stable (#2841)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2846 bump proxmox to 2.2.1 at stable (#2841)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2847 bump traccar to 1.1.3 at stable (#2841)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2848 bump fullybrowser to 2.2.0 at stable (#2841)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2833 Update signifylights to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2761 Add soliscloud adapter to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2867 move tractive-gps -> community (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2869 Update alexa2 to 3.25.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2870 Bump Alpha-ess to 1.1.1 at stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2868 Update worx to 2.3.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2873 upgrade web stable 6.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2875 Update deyeidc to 0.0.14
  sources-dist-stable.json
Labels: auto-checked, Stable

#2876 Update telegram to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2877 Update octoprint to 5.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2878 Update awtrix-light to 0.10.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2879 Update lametric to 3.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2880 Update trashschedule to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2881 Update pvforecast to 2.9.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2882 Update youtube to 4.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2883 Update luftdaten to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2884 Update shelly to 6.6.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2886 bump TibberLink stable to 1.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2887 Update pushbullet to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2899 Bump xterm to 2.0.1
  sources-dist-stable.json
Labels: Stable

#2896 Bump sonos to 3.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2895 Bump sonoff to 3.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2894 Bump openweathermap to 0.4.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2893 Bump mqtt to 5.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2891 Bump hm-rega to 4.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2890 Bump fullcalender to 2.2.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2889 Bump eventlist to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2888 Bump echarts to 1.5.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2892 Bump iot to 2.0.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#2897 Bump web to 6.1.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#2898 Bump ws to 2.5.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#2901 Update enigma2 to 2.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2903 Update lowpass-filter to 2.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2904 Update operating-hours to 1.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2872 Updated eusec to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2874 Update deconz to 1.3.23
  sources-dist-stable.json
Labels: auto-checked, Stable

#2907 Update knx to 2.0.23
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2909 Update parser to 2.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#2910 Update discovery to 4.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2911 Update nsclient to 0.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2912 Update vis-justgage to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2917 Add samsung_tyzen to latest
  sources-dist.json
Labels: auto-checked

#2920 Update lgtv to 2.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2921 Update melcloud stable version to v1.3.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2915 Fix vis-material urls (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2194 New Adapter iobroker.emporia
  sources-dist.json
Labels: lgtm, auto-checked

#2197 add sonnen-charger to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2927 Update js-controller to 5.0.16 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2928 Add samsung_tizen 1.0.0 to stable
  sources-dist-stable.json
Labels: Stable

#2929 Update ems-esp to 2.6.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2930 Update alarm to 3.4.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2935 Bump Kostal-Piko-BA stable to 3.0.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#2938 Update viessmann to 1.4.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2943 Bump huum-sauna to 0.4.5
  sources-dist-stable.json
Labels: auto-checked, Stable, *📬

#2947 powerfox2 master-> main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2948 powerfox2 master-> main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2922 Bump telegram-menu to 0.8.5 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2950 Add renacidc 0.0.6 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2951 Bump Tado to 0.4.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#2957 add icons-eclipse-smarthome-classic to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2958 add icons-smarthome to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2919 Add boschindego to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2959 add vis-material to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2905 Bump fullybrowser to 3.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2908 Update webui to 0.13.1
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable, ⚠️check

#2961 Update mihome-vacuum to 4.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2963 Update webui to 0.14.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2924 Update drag-indicator to 2.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2926 Update lowpass-filter to 2.2.3
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable, ⚠️check

#2925 Update operating-hours to 1.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2965 Update solax to 0.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2966 Update shuttercontrol to 1.6.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2967 Update schoolfree to 1.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2968 Update uv-protect to 0.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2923 Update bidirectional-counter to 2.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2969 pls update vis-icontwo to 0.97.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2964 bumb TibberLink stable to 1.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2970 Update spotify-premium to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2971 emby -> community (latest)
  sources-dist.json
Labels: auto-checked

#2972 emby -> community (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2973 Update mydlink to 1.3.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2974 Update bydhvs in stable to 1.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2975 Update opendtu to 1.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2976 Update pixelit to 1.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2978 Update ring to 5.0.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#2940 Update acme to 0.1.2
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable, ⚠️check

#2979 Update statistics to 2.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2980 Update birthdays to 2.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2962 Update e3dc-rscp to 1.2.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2983 Bump harmony to 1.3.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2984 Update plex to 1.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2985 Bump mbus to 2.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2986 Bump javascript to 7.1.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2987 Bump socketio to 6.6.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2988 Update vis-justgage to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2960 Update fitbit-fitness to 0.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2995 Bump vis-justgage to 2.0.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2997 update gsmsms to 0.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2998 go-e master->main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2999 go-e master->main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3000 Update discord stable to v2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3001 Update alexa2 to 3.26.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2105 Added Energiefluss Adapter
  sources-dist.json
Labels: lgtm, auto-checked

#2551 Add amtronwallbox to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3004 Update cleveron to 0.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2982 Adding opensmartcity adapter to latest
  sources-dist.json
Labels: must be fixed, Adapter-Review needed, auto-checked

#3006 Bump TibberLink stable to 1.6.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3009 Update ds18b20 stable to v2.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3010 Update beckhoff to 1.5.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3012 welcome master->main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3013 welcome master->main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3014 remove apple-find-me from stable
  sources-dist-stable.json
Labels: Stable
