Repository ioBroker/ioBroker.repositories, pull requests merged in 2023-08, with the labels that each got.

#2473 Update zigbee to 1.8.21
  sources-dist-stable.json
Labels: auto-checked, Stable

#2468 Add mediola-gateway (0.1.4) to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2465 Update voltoplus to 0.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2475 Update doorbird to 1.0.6
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2476 DOWNGRADE doorbird to 1.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2478 Update envertech-pv to 1.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2479 Update melcloud stable version to v1.3.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2481 Update Growatt to V3.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2482 Update ems-esp to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2483 Update fb-checkpresence to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2485 update to stable DasWetter, ebus, Heatingcontrol, pvoutputorg, sbfspot, semp
  sources-dist-stable.json
Labels: auto-checked, Stable

#2489 Update worx to 2.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2492 Update easee Adapter to 1.0.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#2494 Bump nanoleaf-lightpanels to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2499 Update alexa2 to 3.24.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2498 Wireguard adapter: master / main change
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, CHANGES-BOTH-REPOSITORIES

#2501 Update seq to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2502 Update pixelit to 1.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2504 zigbee
  sources-dist-stable.json
Labels: auto-checked, Stable

#2484 Update bluelink to 2.3.6
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2506 Add TibberLink to stable repo
  sources-dist-stable.json
Labels: auto-checked, Stable

#2508 (simatec) Update Shuttercontrol
  sources-dist-stable.json
Labels: auto-checked, Stable

#2510 (simatec) Update Solax
  sources-dist-stable.json
Labels: auto-checked, Stable

#2509 Update UV-Protect to 0.4.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2491 Update yahoo-stock-market to 0.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2495 Updated eusec to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2512 bump hue to 3.9.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2513 Update ems-esp to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2515 anelhut - master->main
  sources-dist.json
Labels: must be fixed, auto-checked

#2516 anelhut - master->main
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2517 Bump TibberLink stable to 0.1.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#2518 Swap robonect to new repo
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, auto-checked, CHANGES-BOTH-REPOSITORIES

#2525 added notification manager to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2524 bump loqed to 0.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2507 Update anelhut from 1.0.13. to 1.0.15
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2527 bump ping to 1.6.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable, STABLE - Review needed

#2526 bump b-control-em to 0.3.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable, STABLE - Review needed

#2529 Update iqontrol to 2.3.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2530 Update stiebel-isg to 1.7.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#2528 bump fhem to 2.0.5
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2531 add frigate 0.2.5 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2187 Add deyeidc to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2462 Add gotify to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2399 add adapter hydrawise to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2274 Add pid to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2456 Add bambulab to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2444 add govee-local to latest
  sources-dist.json
Labels: lgtm, Adapter-Review needed, auto-checked

#2535 Bumping Wattpilot from 4.6.0 to 4.6.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2538 plex moved to community - correct stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2522 Update mydlink to 1.3.4
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2534 Update dysonairpurifier to 2.5.9
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2533 Update wireguard to 1.5.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#2540 bump hm-rega to 3.0.47 / hm-rpc to 1.15.19
  sources-dist-stable.json
Labels: auto-checked, Stable

#2542 moved systeminfo to community (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2543 moved systeminfo to community adapters (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2544 bump systeminfo to 1.0.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2546 bump yahka to 1.0.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2532 Updated eusec to 1.1.1
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2536 Add procon-ip adapter to stable repository
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2541 bump history to 2.2.6
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2547 bump daikin-cloud to 0.3.0
  sources-dist-stable.json
Labels: STABLE - brand new, Stable

#2554 heos - master to main (latest)
  sources-dist.json
Labels: auto-checked

#2555 heos - master to main (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2550 update sureflap to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2553 Update heos to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2558 Bump fuelpricemonitor to 0.3.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2557 Bump followthesun to 0.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2556 Update e3dc-rscp to 1.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2548 Update deyeidc to 0.0.10
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2560 Add Roborock 0.2.1 to stable
  sources-dist-stable.json
Labels: Stable
