Repository ioBroker/ioBroker.repositories, pull requests merged in 2023-09, with the labels that each got.

#2571 Bump of web to 6.1.0 , ws to 2.5.3 , socketio to 6.5.2 (stable)
  sources-dist-stable.json
Labels: Stable

#2565 Bump sma-em stable to v1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2573 Growatt version to 3.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2574 Bump TibberLink stable to 0.2.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, STABLE - brand new, Stable

#2576 bump denon stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2577 Update ds18b20 stable to 2.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2579 bump linux-control to 1.1.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2578 Bump lgtv stable to 1.1.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#2580 bump alexa-timer-vis 0.2.0 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2583 Bump ws, socketio, web
  sources-dist-stable.json
Labels: auto-checked, Stable

#2585 bump swiss-weather-api stable to 2.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#2566 Bump plex to 1.0.5
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2564 Updated eusec to 1.1.2
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2590 REMOVE iogopro from stable
  sources-dist-stable.json
Labels: Stable

#2611 change type of iwg-vpn to communication (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2612 change type of iwg-vpn to communication (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2609 Bump TibberLink stable to 0.2.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2614 Add Roborock 0.3.1 to stable
  sources-dist-stable.json
Labels: Stable

#2617 Update wireguard to 1.5.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#2127 Add batrium-bms to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2539 Add google-spreadsheet to latest
  sources-dist.json
Labels: lgtm, auto-checked

#2620 Update nibeuplink stable to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2622 Updated proxmox logo url
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, CHANGES-BOTH-REPOSITORIES

#2624 Bump pushbullet stable to 1.0.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2625 Update robonect to 1.1.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#2268 Add signifylights to latest
  sources-dist.json
Labels: must be fixed, auto-checked, (RE-)REVIEW pending (mcm1957)

#2629 Update Countdown to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2628 Update wioBrowser to 2.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2631 Bump ws, socketio, web
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2632 Bump javascript stable to 7.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2633 Update Meteoalarm to 2.3.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#2635 Bump solarwetter to 1.1.5 at stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2636 bump Knx stable to 2.0.22
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2589 Add webui to latest
  sources-dist.json
Labels: auto-checked

#2639 Update lightcontrol to 0.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2637 Solarwetter moved to community (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2638 Solarwetter moved to community (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2618 add apg-info 0.0.1 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable, new at STABLE

#2619 add tinymqttbroker 0.0.5 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable, new at STABLE

#2610 Bump iwg-vpn stable to 2.0.4; changed type
  sources-dist-stable.json
Labels: must be fixed, Adapter-Review needed, auto-checked, Stable

#2647 bump admin stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2648 Bump fritzbox stable to 0,5.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2649 fritzbox moved to community (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2650 fritzbox moved to community (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2651 Update accuweather to 1.3.1 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2652 Bump mihome-vakuum to 4.0.0 at stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2653 move botvac to community (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2654 Move botvac to community (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2646 Bump TibberLink stable to 0.2.7
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2626 Update atlas-scientific-ezo-i2c to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable, new at STABLE

#2658 Update alexa2 to 3.25.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2627 Update wireguard to 1.6.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2659 Update frigate to 0.2.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2640 Update panasonic-comfort-cloud to 2.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2660 bump xbox stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2662 Update cec2 to 0.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2661 Bump tado to 0.4.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#2663 Update roomba to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2641 Update rct to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - Review needed, new at STABLE

#2664 (simatec) Update Backitup v2.8.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2665 (simatec) Update Shuttercontrol v1.6.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2668 (simatec) Update Pegelalarm v1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2667 (simatec) Update UV-Protect v0.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2666 (simatec) Update Schoolfree v1.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2669 (simatec) Update Solax v0.7.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#2670 Bump TibberLink stable to 0.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2671 Update discord stable to 2.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2672 Bump tinymqttbroker to 0.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#2673 Update meater to 1.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#2675 Update synochat to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2677 move FEIERTAGE to community (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2678 move FEIERTAGE to community (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2679 Update feiertage to 1.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#2680 Dump synology to 3.0.0 at stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2681 Update kodi to 3.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2682 Bump oilfox to 4.2.0 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2683 Bump systeminfo to 1.1.0 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2689 Update residents to 0.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2686 Bump growatt 3.2.1 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2685 Bump intex to 0.1.5 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2684 Update imap to 0.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable, new at STABLE

#2691 Update ems-esp to 2.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2695 move LGTV to iobroker-community-adapters (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#2696 move LGTV to iobroker-community-adapters (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2698 Bump alias manager to 1.2.6 at stable (*)
  sources-dist-stable.json
Labels: auto-checked, Stable

#2697 Bump TibberLink stable to 0.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#2690 Update roborock to 0.4.4
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2687 Bump apg-info to v0.0.3
  sources-dist-stable.json
Labels: auto-checked, STABLE - brand new, Stable

#2702 Update hue to 3.10.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#2700 Update info to 2.0.0 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2701 Bump vis-material-advanced to 1.7.4 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2699 Bump fronius to 2.0.2 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2703 Bump weatherunderground to 3.6.0 at stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#2704 Bump smartcontrol to 2.0.1 to stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#2705 Update hausbus_de to 1.2.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#2706 move pushbullet to iobroker-community-adapters (latest)
  sources-dist.json
Labels: auto-checked

#2707 move pushbullet to iobroker-community-adapters (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable
