Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-05, with the labels that each got.

#3558 Update emby to 1.2.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3559 Update elgato-keylight to 1.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3561 REMOVE vaillant
  sources-dist-stable.json
Labels: Stable

#3520 Add air-Q adapter (v1.0.2) to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, 30.4.2024

#3563 Update apcups to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3566 Update benq to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3567 Update beckhoff to 1.6.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3569 REMOVE info from latest
  sources-dist.json
Labels: auto-checked

#3572 Update boschindego to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3573 Update gira-iot to 0.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3574 Update youtube to 5.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3568 Update exchangerates to 0.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3575 Update meater to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3578 Bump Kostal-Piko-BA stable to 4.0.0.
  sources-dist-stable.json
Labels: auto-checked, Stable

#3577 Update device-watcher to 2.12.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3565 Update hydrawise to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, ⚠️check, Stable

#3576 Update benchmark stable to 1.2.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3591 Update mqtt-client to 1.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3590 Update firetv to 2.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, *📬, Stable

#3592 Update rct to 1.2.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3585 Update oilfox to 4.3.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3593 Update wireguard to 1.6.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3586 Update nuki-extended to 2.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3584 Update mpd to 2.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3595 Update solarwetter to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3597 Update frigate to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3596 Update vis-homekittiles to 0.0.13
  sources-dist-stable.json
Labels: auto-checked, Stable, 12.5.2024

#3608 Update openknx to 0.9.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3607 Update samsung_tyzen to 1.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3606 Update roomba to 1.3.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3602 Update wifilight to 1.2.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3571 Update kodi to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3609 Bump TibberLink stable to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3614 Update tractive-gps to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3612 Update sony-bravia to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3613 Update tankerkoenig to 3.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3611 Update solaredge to 1.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3610 Update chromecast to 3.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3603 Update webui to 1.6.5
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3620 Move tvspielfilm to iobroker-community-adapters (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3622 Update tvspielfilm to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3619 Update yeelight-2 to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3624 Update wireguard to 1.6.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3618 Update wolf-smartset to 1.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3617 Update email to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3594 Update mclighting to 0.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3625 Update epson_stylus_px830 to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3626 Update ical to 1.15.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3627 Update tr-064 to 4.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3601 Update pushbullet to 2.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, ON HOLD, Stable

#3600 Update places to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3599 Update philips-air to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3623 Update mielecloudservice to 6.5.6
  sources-dist-stable.json
Labels: auto-checked, Stable, 23.5.2024

#3628 Update apcups to 4.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3630 REMOVE renault
  sources-dist-stable.json
Labels: Stable

#3570 Update homeconnect to 1.4.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, ON HOLD, Stable

#3598 Update panasonic-viera to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3631 Update sun2000 to 0.9.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3632 Update luxtronik1 to 0.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3634 Update spotify-premium to 1.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3635 Update yahoo-stock-martekt to 0.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3636 Update license related data and fix package version
  sources-dist-stable.json
Labels: auto-checked, Stable

#3637 Revert "Update license related data and fix package version"
  sources-dist-stable.json
Labels: Stable

#3564 Update knx to 2.0.26
  sources-dist-stable.json
Labels: auto-checked, Stable, paid, 1.6.2024

#3639 Update vis-2-widgets-radar-trap to 2.0.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3640 Update iot to 3.2.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3641 Update foobar2000 to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3642 Update helios to 0.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3643 Update hid-community to 0.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3650 Update trashschedule to 3.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3645 Update homepilot to 1.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3644 Update fronius to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3646 Update mercuri to 0.2.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3648 Update mihome-plug to 0.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3649 Update microtik to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3651 Update tahoma to 0.10.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3633 Update lgtv-rs to 0.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3432 Add HioB to latest
  sources-dist.json
Labels: auto-checked, 4.5.2024

#3189 Add notificationforandroidtv to latest
  sources-dist.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957), 1.5.2024

#3652 Update haier to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3653 Update openhab to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3654 Update omnicom.ils to 0.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3512 Add gree-hvac to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3658 Update rpi2 logo (LATEST)
  sources-dist.json
Labels: auto-checked

#3659 Update rpi2 logo (STABLE)
  sources-dist-stable.json
Labels: auto-checked, Stable

#3657 Update javascript to 8.3.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3660 Update sonnen to 1.18.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3672 Update ems-esp to 3.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3670 Update device-watcher to 2.12.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3669 Update solarlog to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3667 Update comfoair to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3666 Update reolink to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3662 Update janitza-gridvis to 3.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3663 Update lorawan to 1.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3638 Update knx to 2.0.28
  sources-dist-stable.json
Labels: auto-checked, Stable

#3661 Update systeminfo to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3676 Update smappee to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3674 Bumb TibberLink stable to 3.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3678 Update simple-api to 2.8.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3675 Update sanext to 0.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3683 Update birthdays to 3.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3681 Update worx to 3.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3680 Update doorio to 2.1.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3682 Update roborock to 0.6.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3685 Update rest-api to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3664 Update smoothed to 1.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3665 Add radar-trap v2.2.0 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3687 Update awtrix-light to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3688 Bump telegram-menu to 1.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3690 sonnen-charger master->main (latest)
  sources-dist.json
Labels: auto-checked

#3656 Update air-q version in stable to 1.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3689 Update vis-2-widgets-material to 1.3.32
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable
