Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-04, with the labels that each got.

#3453 Update zendure-solarflow to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3456 Please update Meteoalarm to 3.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3455 Bump apg-info to 0.1.6
  sources-dist-stable.json
Labels: auto-checked, Stable, 5.4.2024

#3457 bump sonnen stable 1.18.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3461 REMOVE gigaset-elements (stable)
  sources-dist-stable.json
Labels: Stable

#3460 Update lovelace to 4.1.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#3466 Move broadlink2 to iobroker-community (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3467 Move broadlink2 to iobroker-community (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3470 Move device-watcher to iobroker-community-adapters (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable

#3471 Move device-watcher to iobroker-community-adapters (latest)
  sources-dist.json
Labels: auto-checked

#3469 Update bsblan to 0.3.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3472 REMOVE tapo
  sources-dist-stable.json
Labels: Stable

#3473 Add vis-2-widgets-radar-trap 1.1.1 to stables
  sources-dist-stable.json
Labels: must be fixed, auto-checked, new at STABLE, Stable

#3474 Update mihome-vacuum to 4.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3476 vis-2 package change (latest)
  sources-dist.json
Labels: auto-checked

#3475 Bumb TibberLink stable to 2.3.2
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable

#3454 Update smoothed to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3481 Update zigbee2mqtt to 2.13.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3489 vis-2 package url fixed (latest)
  sources-dist.json
Labels: auto-checked

#3490 vis-2 package url fixed (stable)
  sources-dist-stable.json
Labels: Stable

#3482 Update vis-2-jaeger-design to 1.1.19
  sources-dist-stable.json
Labels: auto-checked, Stable

#3483 Update vis-hqwidgets to 1.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3484 Update vis-2-widgets-gauges to 1.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3486 Update frigate to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3487 Update web to 6.2.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3488 Update s7 to 1.4.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3485 Update vis-2-widgets-material to 1.3.25
  sources-dist-stable.json
Labels: auto-checked, Stable

#3500 Update wmswebcontrol to 0.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3396 Add waterkotte-easycon to latest
  sources-dist.json
Labels: lgtm, auto-checked, 19.4.2024

#3501 Update envertech-pv to 1.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3503 Update stable version of ecovacs-deebot to 1.4.15
  sources-dist-stable.json
Labels: auto-checked, Stable

#3504 Update snmp to 3.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3502 Update heizoel24-mex to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3505 Update vis-jqui-mfd to 1.1.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3506 Update sun2000 to 0.7.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3507 Update backitup to 2.11.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3509 Fix links expson_stylus_px830 (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3510 Fix links expson_stylus_px830 (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3514 Update zigbee to 1.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3515 Update alexa2 to 3.26.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3478 Add hydrawise 0.2.8 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, ⚠️check, Stable, STABLE - brand new

#3492 Add Tedee 0.3.2 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3518 Update spotify-premium to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3516 Update accuweather to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3519 Update telegram to 3.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3521 Update hm-rpc to 1.17.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3522 Bump kostal-piko-ba stable to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3523 Update feiertage to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3524 Update broadlink2 to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3525 REMOVE psa from stable
  sources-dist-stable.json
Labels: Stable

#3526 REMOVE mystrom from stable
  sources-dist-stable.json
Labels: Stable

#3527 Update scheduler to 1.1.12
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3528 Update roborock to 0.6.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3529 Add pid to 1.1.3 to stabled
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3530 Update energiefluss-erweitert to version 0.4.1- Hotfix
  sources-dist-stable.json
Labels: auto-checked, Stable

#3532 Update synology to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3533 Update bosesoundtouch to 0.11.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3534 Update botvac to 2.2.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3536 Update webcal to 1.3.3
  sources-dist-stable.json
Labels: auto-checked, Stable, 25.4.2024

#3531 Bump ioBroker.tado to 0.5.4
  sources-dist-stable.json
Labels: auto-checked, Stable, 25.4.2024

#3459 Add vis-2-widgets-inventwo to latest
  sources-dist.json
Labels: lgtm, auto-checked, 25.4.2024

#3538 update innoxel to 0.4.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, *📬, Stable

#3535 Update zendure-solarflow to 1.5.3
  sources-dist-stable.json
Labels: auto-checked, ⚠️check, Stable, STABLE - brand new, 26.4.2024

#3539 Update harmony to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3540 Update fritzbox to 0.6.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3541 Update enigma2 to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3542 hotfix stable versions of socketio/ws
  sources-dist-stable.json
Labels: must be fixed, auto-checked, *📬, Stable

#3543 Update sun2000 to 0.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3544 Update node-red to 5.2.1
  sources-dist-stable.json
Labels: auto-checked, ON HOLD, Stable

#3545 Update unifi-protect to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3547 Update shelly to 6.9.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3548 Update fullybrowser to 3.0.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#3546 Update hue to 3.11.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3549 Update discord stable to v2.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3550 Update lorawan to 1.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3554 Update weatherunderground to 3.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3551 Update lgtv to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3552 Update radar2 to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3553 Update unifi to 0.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable
