Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-01, with the labels that each got.

#3167 Bump apg-info to 0.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3166 Bump tado to 0.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3165 Update zigbee2mqtt to 2.13.4
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3168 bump sonnen to 1.17.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3169 Update lg-thinq to 0.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3170 transfer seq / traccar / zigbee2mqtt to arteck (latest)
  sources-dist.json
Labels: auto-checked

#3171 transfer seq / traccar / zigbee2mqtt to arteck (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable

#3172 zigbee 1.9.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3173 Update evcc to 0.1.1
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable, STABLE - brand new, 14.1.2024

#3174 meros stable update
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3176 remove epson_xp540 (stable)
  sources-dist-stable.json
Labels: Stable

#3177 Fix sources-dist-stable.json
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3178 Fix type of energiefluss
  sources-dist.json
Labels: must be fixed, auto-checked

#3182 Update logparser to 2.2.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3133 Add artnet-recorder 0.0.5 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, 8.1.2024

#3038 Add sun2000-modbus to latest (replacement for #3007)
  sources-dist.json
Labels: lgtm, auto-checked, 31.1.2024

#3183 Bump echarts to 1.7.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3185 Update homekit-controller to 0.5.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#3186 Update lcn to 1.1.8
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3187 Update lg-thinq to 0.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable, 15.1.2024

#3188 Update fullybrowser to 3.0.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#3191 Update pvforecast to 2.9.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3193 Update fronius-wattpilot to 4.6.3
  sources-dist-stable.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957), STABLE - Review needed, Stable

#3195 remove landroid, km200 from stable
  sources-dist-stable.json
Labels: Stable

#3199 Update iwg-vpn to 3.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3201 Update daswetter to 3.1.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#3153 Add x-touch 0.6.5 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, 14.1.2024

#3203 Update nibeuplink to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3204 Bump alexa.timer.vis to 0.3.0 in stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3205 Update alarm to 3.6.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3206 Update sureflap to 1.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3207 Update hmip to 1.21.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3120 Add myuplink to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3208 Update awtrix-light to 0.11.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3210 Update s7 to 1.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3212 Update Panasonic-comfort-cloud to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3213 Update hausbus_de to 1.3.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3216 Update alpha-ess to 2.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3218 Add elgato-key-light to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3221 Update weather-warnings to 0.6.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3223 Update ems-esp to 2.6.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3222 Update openweathermap to 1.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3225 Bump TibberLink stable to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3226 Update hue to 3.10.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3227 Update zigbee to 1.10.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3229 Update viessmann to 1.4.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3230 Update kecontact to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3231 Update mihome-vacuum to 4.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3234 Added Energiefluss Version 3.6.0 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3236 Update email to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3228 Update solarviewdatareader to 1.0.8
  sources-dist-stable.json
Labels: auto-checked, ⚠️check, Stable, STABLE - brand new, 25.1.2024

#3237 Update heatingcontrol to 2.12.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3238 Update sbfspot to 4.2.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3239 Update ebus to 3.2.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3240 Update daswetter to 3.1.13
  sources-dist-stable.json
Labels: auto-checked, Stable

#3243 Alexa2 upgrade
  sources-dist-stable.json
Labels: auto-checked, Stable

#3242 Update reolink to 1.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3244 Update govee-local to 0.2.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3241 Frigate Move to iobroker-community-adapters
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, ⚠️check, CHANGES-BOTH-REPOSITORIES, 27.1.2024

#3245 Update pvoutputorg to 1.8.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#3246 Update semp to 1.3.14
  sources-dist-stable.json
Labels: auto-checked, Stable

#3248 Update vis-weather to 2.5.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#3249 Update fb-checkpresence to 1.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3247 Add amtronwallbox 0.2.14 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3215 Add adapter e3oncan to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3232 Update device-reminder stable 3.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3261 update admin to 6.13.15
  sources-dist-stable.json
Labels: auto-checked, Stable

#3251 Update text2command to 3.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3252 Update ble to 0.14.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, *📬, Stable

#3253 Update hp-rpc to 1.16.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3255 Update node-red to 5.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3258 Update welcome to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3257 Update web to 6.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3259 Update ws to 2.5.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#3260 Update stable Frigate
  sources-dist-stable.json
Labels: auto-checked, Stable, 5.2.2024

#3264 tapo master -> main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3265 tapo master -> main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3214 Add zendure-solarflow 1.0.7 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3266 Update lovelace to 4.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable
