Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-03, with the labels that each got.

#3366 Update trash-schedule to 3.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3367 Update openknx to 0.7.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3368 Update ebus to 3.2.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3369 Update semp to 1.4.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3351 add icon entry to js-controller (latest)
  sources-dist.json
Labels: auto-checked, ON HOLD

#3350 add icon entry to js-controller (stable)
  sources-dist-stable.json
Labels: ON HOLD, Stable

#3370 Update solaredge to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3371 Update yeelight-2 to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3372 Update doorbird to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3373 Update proxmox to 2.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3374 Update hmpi to 1.22.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3360 Update fullybrowser to 3.0.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#3378 Update telegram to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3385 Update fb-checkpresence to 1.2.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3386 Update swiss-weather-api to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3388 Update device-watcher to 2.10.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3387 Update tahoma to 0.10.3
  sources-dist-stable.json
Labels: auto-checked, Stable, 8.3.2024

#3391 Update weather-warnings to 0.6.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3301 Add air-q adapter to latest
  sources-dist.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957), 8.3.2024

#3392 Update webcal to 1.3.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3394 Add energiefluss-erweitert to stable with Version 0.2.1
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3393 Bumb Kostal-Piko-BA stabel to 3.0.10
  sources-dist-stable.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957), Stable

#3399 Update deconz to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable, 13.3.2024

#3398 Update net-tools to 1.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable, 14.3.2024, paid

#3400 Update discovery to 4.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3397 Update sureflap to 2.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable, 15.3.2024

#3401 Bump telegram-menu to stable 1.6.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3403 REMOVE vcard - repo vanished
  sources-dist-stable.json
Labels: Stable

#3406 change type of device-reminder (STABLE)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3405 change type of device-reminder (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#3407 Update vis-icontwo to 1.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3361 Update zigbee2mqtt to 2.13.5
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable, 15.3.2024

#3408 Update heatingcontrol to 2.12.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3409 Added nmea to latest
  sources-dist.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957)

#3414 Fix nmea type
  sources-dist.json
Labels: must be fixed, auto-checked

#3410 Bump TibberLink stable to 2.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3411 Update senec to 1.6.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#3412 Update lorawan to 0.6.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3413 Update tinker to 1.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3415 Update doorbird to 1.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3416 Update eventlist to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3417 Update melcloud stable version to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3390 Add heizoel24-mex to latest
  sources-dist.json
Labels: lgtm, auto-checked, 25.3.2024

#3422 Update lightcontrol to 0.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable, 31.3.2024

#3426 Update pylontech to 0.0.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#3427 Update vis-2-widgets-energy to 0.3.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#3428 Update shelly to 6.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3430 Update ems-esp to 3.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3429 Add vis-homekittiles 0.0.9 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3431 Update device-watcher to 2.11.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3435 Update awtrix-light to 0.16.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3434 Update Energiefluss-erweitert to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3436 Update nsclient to 0.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3433 Update net-tools to 1.0.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#3437 Update govee-local to 0.2.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3438 Move unifi-protect to iobroker-community-adapters (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3440 Update ws to 2.5.11
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3442 Update socketio to 6.6.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3441 Update cloud to 5.0.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3443 Update node-red to 5.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3444 Update ical to 1.14.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3445 Update kecontact to 2.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable
