Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-02, with the labels that each got.

#3219 Add adapter sun2000 to latest
  sources-dist.json
Labels: lgtm, auto-checked, 12.2.2024

#3271 device-reminder - fix icon (latest)
  sources-dist.json
Labels: auto-checked

#3272 device-reminder - fix icon (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable

#3273 Bump TibberLink stable to 2.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3274 Update Bshb to 0.2.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3275 Add soliscloud 1.4.2 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3278 Update netatmo-energy to 2.7.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3279 remove info (stable)
  sources-dist-stable.json
Labels: Stable

#3283 bump admin stable to 6.13.16
  sources-dist-stable.json
Labels: auto-checked, Stable

#3280 Update jablotron to 0.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3282 Update tinker to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3285 Update webui to 1.0.37
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3284 Update espresense to 0.4.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3287 Update myvbus to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3288 Update frontier_silicon to 0.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3292 Update dysonairpurifier to 3.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3293 Update mediola-gateway to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3294 Update imap to 0.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3295 Update chromecast to 3.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3298 upgrade homekit-controller
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3299 Update melcloud stable version to v1.3.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3224 Add lorawan to latest
  sources-dist.json
Labels: lgtm, auto-checked

#3302 Update awtrix-light to 0.13.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3303 Update javascript to 7.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3304 Update lametric to 3.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3307 Update mqtt to 5.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3308 Update influxdb to 4.0.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3309 Add cameras 2.0.5 to stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3313 Update ems-esp to 2.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3310 Added SolarEdge 1.2.2 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3314 Update oilfox to 4.2.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3315 Update solax to 0.9.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3316 Update schoolfree to 1.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3317 Update uv-protect to 0.6.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3318 Update lg-thinq to 0.3.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3319 Update vis-2-widgets-material to 1.3.18
  sources-dist-stable.json
Labels: auto-checked, Stable

#3323 Fix links of myuplink adapter (master->main)
  sources-dist.json
Labels: auto-checked

#3321 Bump tinyMQTTbroker to 0.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3325 Update puppeteer to 0.2.8
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3326 Update pegelalarm to 1.3.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3327 Update shuttercontrol to 1.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3328 Add elgato-key-light 1.0.1 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3329 Update apcups - fix casing (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3331 Add myuplink 0.7.1 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3305 Add sun2000 0.3.1 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, 19.2.2024

#3337 Update stable heos version to 2.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3312 Bump js-controller stable 5.0.19
  sources-dist-stable.json
Labels: Stable

#3336 Update stable version of ecovacs-deebot to 1.4.14
  sources-dist-stable.json
Labels: must be fixed, auto-checked, (RE-)REVIEW pending (mcm1957), Stable, 22.2.2024

#3339 Update vis-map to 1.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3340 Update logparser to 2.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3291 Add Adapter energiefluss-erweitert to latest.
  sources-dist.json
Labels: lgtm, auto-checked, 22.2.2024

#3343 Update backitup to 2.10.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#3334 update vis-2 to 2.9.32
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - brand new, 23.2.2024

#3352 Update vis-2-widgets-jaeger-design to 1.1.10
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3353 Update fullybrowser to 3.0.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#3297 Updated apcups to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3233 Add vbus-gw to latest
  sources-dist.json
Labels: lgtm, auto-checked, 27.2.2024

#3333 add senec 1.6.11 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3355 Update klf200 to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3356 REMOVE outdated parcel 0-0-27 from stable
  sources-dist-stable.json
Labels: Stable

#3338 Add smoothed to latest
  sources-dist.json
Labels: lgtm, auto-checked, 12.3.2024

#3359 Update rct to 1.2.4
  sources-dist-stable.json
Labels: auto-checked, Stable
