Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-11, with the labels that each got.

#4244 Update e3oncan to 0.10.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4252 Update egigeozone2 to 1.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4250 Update rpi2 to 2.2.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4160 Update countdown to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4204 Add schedule-switcher to latest
  sources-dist.json
Labels: lgtm, auto-checked, New at LATEST, 28.10.2024

#4253 Bump tinymqttbroker to 0.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4254 Update sureflap to 2.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4255 Update webui to 1.15.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4259 Update waetherflow_udp to 0.1.4
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4258 Update swiss-weather-api to 2.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4263 Update myuplink to 0.8.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4264 Update apg-info to 0.1.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#4265 Update tado to 0.6.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4268 Update telegram-menu from 2.0.0 to 2.1.3 in stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#4271 Update boschindego to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4274 Update upnp to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4272 Update ikettle2 to 1.0.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4276 Update daikon-cloud to 0.4.11
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4277 Update alias-manager to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4275 Update vis-icontwo to 1.6.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4279 Update alarm to 3.6.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4278 Add vis-2-widgets-ovarious 0.1.9 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4280 Update chromecast to 4.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4282 Update openligadb to 1.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4284 Update traccar to 1.1.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4283 Fix dysonAirPurifier paths master -> main
  sources-dist-stable.json
  sources-dist.json
Labels: CHANGES-BOTH-REPOSITORIES

#4285 Kisshome to stable
  sources-dist-stable.json
Labels: Stable

#4289 DOWNGRADE squeezeboxrpc to 1.3.9
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4291 Revert "Update vis-icontwo to 1.6.3 (#4275)"
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4286 Update roborock to 0.6.17
  sources-dist-stable.json
Labels: auto-checked, Stable

#4290 Kisshome to stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4287 Update lorawan to 1.5.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, *📬, Stable

#4262 Update hs100 to 2.2.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4296 Update epson_ecotank_et_2750 to 1.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4295 Update adguard to 1.0.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4299 Update growatt to 3.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4300 Update klf200 to 1.3.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4301 Update solarviewdatareader to 1.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4294 Update odl stable to v4.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4293 Update ds18b20 stable to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4292 Update discord stable to v2.5.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4302 Kisshome 1.2.4 to stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4304 Update iqontrol to 3.0.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4306 Update ems-esp to 5.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4307 Update worx to 3.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4309 Update-alexa-shoppinglist-to-1.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4310 move gsmsms to iobroker-community (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4312 Update renacidc to 0.1.4
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4089 Add bluesound to latest
  sources-dist.json
Labels: lgtm, auto-checked, New at LATEST

#4314 Update homekit-controller stable to 0.5.11
  sources-dist-stable.json
Labels: must be fixed, auto-checked, *📬, Stable

#4313 Update melcloud to 2.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4318 Update dysonairpurifier to 3.2.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4317 Change type of "MyWallbox"
  sources-dist.json
Labels: auto-checked

#4319 panasonic-comfort-cloud 3.0.3
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable, STABLE - brand new, 2.12.2024

#4297 Add mempool-space to latest
  sources-dist.json
Labels: lgtm, auto-checked, New at LATEST, 24.11.2024

#4305 js-controller Lucy stable (7.0.3)
  sources-dist-stable.json
Labels: Stable, 28.11.2024

#4256 Add controme to latest
  sources-dist.json
Labels: lgtm, auto-checked, New at LATEST, 11.12.2024

#4326 Update tractive-gps to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4325 Update lametric to 3.4.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4328 Update ical to 1.16.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4327 Update enigma2 to 2.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4329 Update boschindego to 1.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4330 Update solarmanpv to 0.6.2
  sources-dist-stable.json
Labels: auto-checked, Stable
