Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-12, with the labels that each got.

#4335 Update viessmann to 1.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4336 Update envertech-pv to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4337 Update luxtronik1 to 0.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4338 Update webui to 1.19.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4340 Update hue to 1.13.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4342 Update birthdays to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4341 Update awtrix-light to 1.4.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4343 Update pvforecast to 4.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4344 Update sun2000 to 0.17.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4346 Update lg-thinq to 1.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4345 Update gotify to 0.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4339 Add google-spreadsheet 0.5.0 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4347 add minuaru V2.0.2 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4348 Update e3oncan to 0.10.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4350 Update weather-warnings to 0.6.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#4352 Update espresense to 0.4.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4353 Update homeconnect to 1.4.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4357 Update semp to 1.4.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4356 Update heatingcontrol to 2.12.13
  sources-dist-stable.json
Labels: auto-checked, Stable

#4360 Update hmip to 1.25.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4358 Bump TibberLink stable to 3.5.4
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4361 Update fb-checkpresence to 1.2.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4362 Update gsmsms to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4320 Update ecoflow-mqtt to 1.0.5
  sources-dist-stable.json
Labels: must be fixed, auto-checked, ON HOLD, Stable, 3.12.2024

#4364 Update tvprogram to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4367 Update gotify-ws to 0.1.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#4366 Update uv-protect to 0.6.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4365 Update schoolfree to 1.1.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4351 Update jablotron to 0.1.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4369 srm -> community (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4373 Update mqtt-client to 2.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4374 Update shuttercontrol to 1.8.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4375 Update remeha-home to 0.2.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4236 Add TeslaFi to latest
  sources-dist.json
Labels: must be fixed, lgtm, auto-checked, new at LATEST, 16.12.2024

#4376 Update ring to 6.3.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4378 Update senec to 1.6.15
  sources-dist-stable.json
Labels: auto-checked, Stable

#4372 Update innoxel to 1.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4214 Add cloudless-homeconnect to latest
  sources-dist.json
Labels: must be fixed, lgtm, auto-checked, new at LATEST, 29.12.2024

#4334 Add ta-blnet to latest
  sources-dist.json
Labels: auto-checked, RE-REVIEW pending (by mcm1957), new at LATEST, 29.12.2024

#4380 Update ems-esp to 5.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4382 Update zendure-solarflow to 1.10.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4383 Update opendtu to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4386 Update kecontact to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4387 Update lgtv to 2.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4391 repoInfo extended
  sources-dist-stable.json
  sources-dist.json
Labels: CHANGES-BOTH-REPOSITORIES

#4393 Update lorawan to 1.6.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4392 Update bidirectional-counter to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4390 Update smoothed to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4389 Update operating-hours to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4388 Update drag-indicator to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4395 Bump TibberLink stable to 4.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4397 correct bydhvs links (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4398 correct bydhvs links (STABLE)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3673 Add roadtraffic 1.2.0 to stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, new at STABLE, Stable

#4399 Update alexa-timer-vis to 2.0.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4384 Update virtualpowermeter 1.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4385 Update valuetrackerovertime 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4406 Update pvoutputorg to 1.9.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4405 Update ebus to 3.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4403 Update amtronwallbox to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4401 Update lg-thinq to 1.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4402 Update squeezeboxrpc to 1.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4404 Update daswetter to 3.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4407 Update sbfspot to 4.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4413 Update klf200 to 1.3.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4411 Update rssfeed to 3.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4414 Update energiefluss to 3.6.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4417 Update sureflap to 2.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4415 Update telegram-menu to 2.1.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4408 Update acme to 1.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4418 Update cloudflare to 1.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4412 Update mytime to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4410 Add vis-2-widgets-weather-and-heating 0.8.0 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4363 Add mywallbox 1.3.0 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, 25.12.2024

#4422 Update zigbee to 1.10.13
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4421 Update pegelalarm to 1.3.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4420 Update solax to 0.9.13
  sources-dist-stable.json
Labels: auto-checked, Stable

#4419 Update tinker to 1.3.5
  sources-dist-stable.json
Labels: auto-checked, Stable
