Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-08, with the labels that each got.

#3840 Prepare controller stable 6.0.9
  sources-dist-stable.json
Labels: *📬, Stable

#3875 bump admin stable
  sources-dist-stable.json
Labels: Stable

#3874 Update denon to 1.15.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#3877 Update solarviewdatareader to 1.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3887 Update rct to 1.2.13
  sources-dist-stable.json
Labels: auto-checked, Stable

#3885 squeezeboxrpc master -> main
  sources-dist-stable.json
  sources-dist.json
Labels: must be fixed, auto-checked, CHANGES-BOTH-REPOSITORIES

#3888 Update backitup to 3.0.16
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3873 Add egigeozone2 1.0.6 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3891 Update socketio to 6.7.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3892 Update ws to 2.6.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3893 Update whatsapp-cmb to 0.3.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3898 Update parser to 2.2.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3871 Update deyeidc to 0.0.16
  sources-dist-stable.json
Labels: auto-checked, Stable

#3896 Update hausbus_de to 1.4.6
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable, STABLE - brand new, 14.8.2024

#3897 Update ebus to 3.3.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3907 Update pollenflug to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3908 Update scenes to 3.2.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3909 Update chromecast to 3.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3915 Update lorawan to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3927 Add ecoflow-mqtt to latest
  sources-dist.json
Labels: auto-checked, 18.8.1924

#3923 Update sureflap to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3930 Update lcn to 2.0.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3866 Add vis-2-widgets-ovarious to latest
  sources-dist.json
Labels: lgtm, auto-checked, 4.8.2024

#3937 Update telegram to 3.9.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3905 Update deyeidc to 0.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3906 Update heizoel24-mex to 1.3.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3939 REMOVE smart-eq from stable
  sources-dist-stable.json
Labels: Stable

#3941 REMOVE libre from stable
  sources-dist-stable.json
Labels: Stable

#3940 REMOVE bmw from stable
  sources-dist-stable.json
Labels: Stable

#3943 Stable tuya to 3.16
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3942 Add hiob 0.1.5 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3886 Add extron 0.2.15 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3944 Bumb TibberLink stable to 3.4.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#3931 Update rssfeed to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3945 Update vis-2-widgets-gauges to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3946 Update nissan to 0.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3947 Update fullcalendar to 2.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3948 Update openweathermap to 1.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3949 Update ford to 1.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3950 Update vis-2-widgets-energy to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3951 Update backitup to 3.0.19
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable, STABLE - brand new, 22.8.2024

#3957 Upgrade Admin to 7.0.23
  sources-dist-stable.json
Labels: Stable

#3956 Update gree-hvac to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3958 Bump tado to 0.5.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3953 Update vis-2-widgets-material to 1.4.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#3955 Change type of chargemaster adapter to energy (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3963 Update opcua to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3961 Update harmony to 1.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3962 Update rest-api to 2.0.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3964 Update cameras to 2.1.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3966 Update sayit to 5.0.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3967 Update vis-2-widgets-jaeger-design to 1.2.7
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3968 Update hm-rega to 5.0.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3954 Update vis-map to 1.1.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3974 Update luftdaten to 4.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3972 Update lametric to 3.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3970 Update openligadb to 1.4.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#3977 update controller stable 6.0.11
  sources-dist-stable.json
Labels: Stable

#3979 Update sma-em to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3978 Update myvbus to 0.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3982 Added kisshome-research to latest
  sources-dist.json
Labels: must be fixed, auto-checked, *📬

#3981 Update lg-ess-home to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3984 Update drag-indicator to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3986 Update operating-hours to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3983 Update intex to 0.1.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3988 Bump apg-info to 0.1.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#3989 Update followthesun to 0.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3990 Update opendtu to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3991 Update mikrotik to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3993 Update senec to 1.6.14
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable
