Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-10, with the labels that each got.

#4112 Update rct to 1.2.14
  sources-dist-stable.json
Labels: auto-checked, Stable

#4113 Update e3oncan to 0.9.5
  sources-dist-stable.json
Labels: auto-checked, Stable, 8.10.2024

#4118 REMOVE asterisk
  sources-dist-stable.json
Labels: Stable

#4119 REMOVE toyota
  sources-dist-stable.json
Labels: Stable

#4120 Update sonoff to 3.1.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4122 Update hm-rpc to 2.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4124 Update scenes to 3.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4126 Update vis-2-widgets-radar-trap to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4121 Update vis-2-widgets-material to 1.4.10
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4127 Wireless settings
  sources-dist-stable.json
  sources-dist.json
Labels: CHANGES-BOTH-REPOSITORIES

#4115 Update hausbus_de to 1.4.11
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable, STABLE - brand new, 8.10.2024

#3889 Add adapter flexcharts to latest
  sources-dist.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957), New at LATEST, 8.10.2024

#4130 Update shelly to 8.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4131 Update lametric to 3.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4132 Update imap to 0.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4138 Update pixelit to 1.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4141 Update roborock to 0.6.16
  sources-dist-stable.json
Labels: auto-checked, Stable

#4136 Update mielecloudservice to 6.5.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4135 Update robonect to 1.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4134 Update wireguard to 1.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4144 Update linktap to 1.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4147 Update notification-manager to 1.2.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4146 Update hm-rega to 5.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4145 Update frigate to 1.3.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, ON HOLD, Stable

#4142 Update viessmann to 1.4.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#4148 Update myuplink to 0.8.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4151 Update klf200 to 1.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4152 Update hmip to 1.24.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4154 miele moved to community (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4155 miele moved to community (STABLE)
  sources-dist-stable.json
Labels: Stable

#4157 Update samsung to 6.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4153 Update lorawan to 1.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4156 Update ecoflow-mqtt to 1.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4159 Update solax to 0.9.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#4165 Update alexa-timer-vis to v2.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4164 Update eusec to 1.3.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4163 Update uv-protect to 0.6.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4162 Update tinker to 1.3.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4161 Update pegelalarm to 1.3.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4171 Update backitup to 3.0.25
  sources-dist-stable.json
Labels: auto-checked, Stable

#4169 Update mqtt to 6.1.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4170 Update modbus to 6.3.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4172 Update schoolfree to 1.1.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4173 Upgrade wireless-mbus to 0.9.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4174 Update gotify-ws to 0.1.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#4176 REMOVE ecoflow-mqtt (STABLE)
  sources-dist-stable.json
Labels: Stable

#4177 Revert "REMOVE ecoflow-mqtt (STABLE)"
  sources-dist-stable.json
Labels: auto-checked, ON HOLD, Stable

#4179 Revert "REMOVE zigbee2mqtt"
  sources-dist-stable.json
Labels: must be fixed, auto-checked, ON HOLD, Stable

#4181 Revert "Update zigbee2mqtt to 2.13.10"
  sources-dist-stable.json
Labels: Stable

#4175 Update fb-checkpresence to 1.2.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4180 Update vis-2 to 2.9.64
  sources-dist-stable.json
Labels: Stable

#4182 Update energiefluss to 3.6.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4184 Update fullcalendar to 2.5.5
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4185 Update doorbird to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4186 Update mpd to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4187 adguard -> community-adapters (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4190 epson_ecotank_et_2750 -> community (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4189 epson_ecotank_et_2750 -> community (STABLE)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4192 opendtu -> community-adapters (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4193 Update sources-dist-stable.json (STABLE)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4195 alias-manager -> community (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4196 alias-manager -> community (STABLE)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4197 Update apg-info to 0.1.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#4199 iqontrol -> community (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4198 Update TibberLink to 3.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4191 Update hydrawise to 1.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4183 Update resol to 1.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable, 25.10.2024

#4207 Update vds2465-server to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4209 Update apcups to 4.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4210 Update gree-hvac to 1.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4208 Update reolink to 1.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4224 Update openligadb to 1.7.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4225 Update lightcontrol to 1.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4226 Update puppeteer to 0.4.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4227 Update lcn to 2.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4228 Update vis-2-widgets-rssfeed
  sources-dist-stable.json
Labels: auto-checked, Stable

#4232 Add remeha-home 0.2.4 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4202 Update cloudflare to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4235 webcal 1.3.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#4237 Update deyeidc to 0.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4239 Update go-e 1.0.41
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable
