Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-06, with the labels that each got.

#3691 Update pushsafer to 1.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3686 Update telegram to 3.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3703 Logo of rssfeed fixed (latest)
  sources-dist.json
Labels: auto-checked

#3704 Logo of rssfeed fixed (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable

#3702 bump puppeteer stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3709 Bump iot stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3710 Update broadlink2 to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3711 openligadb master -> main (stable)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3712 openligadb master -> main (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3714 Update scheduler to 1.3.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#3716 Update ph803w to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3718 Update scenes to 3.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3720 Add vis-2-widgets-inventwo 0.1.5 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3719 Update shelly to 7.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3701 Bump apg-info to 0.1.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3721 Update notification-manager to 1.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3722 Update volvo to 0.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3723 Update melcloud to 1.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3700 Add gree-hvac 1.0.0 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, 8.6.2024

#3684 Update starline to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3725 Update bshb to 0.2.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#3708 Update heizoel24-mex to 1.3.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3726 Update gruenbeck to 0.0.43
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3727 Update vis to 1.5.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3728 Update discovery to 4.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3729 Update lg-thinq to 1.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3733 Bump TibberLink stable to 3.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3731 Update zendure-solarflow to 1.6.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3732 Update openliga to 1.4.9
  sources-dist-stable.json
  sources-dist.json
Labels: auto-checked, CHANGES-BOTH-REPOSITORIES

#3734 Update lovelace to 4.1.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#3738 Update amtronwallbox to 0.2.15
  sources-dist-stable.json
Labels: auto-checked, Stable

#3739 Update daswetter to 3.1.15
  sources-dist-stable.json
Labels: auto-checked, Stable

#3740 Update ebus to 3.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3741 Update heatingcontrol to 2.12.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#3742 Update pvoutputorg to 1.8.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#3743 Update sbfspot to 4.3.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3744 Update semp to 1.4.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3737 Update sonoff to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3745 Update discord to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3746 Update rct to 1.2.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#3747 Update sureflap to 2.1.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3752 Update gree-hvac to 1.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3750 Update lorawan to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3749 Update janitza-gridvis to 3.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3753 Update mbus to 2.7.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3755 Update unifi-protect to 1.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3736 Update nuki to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3757 rssfeed master->main (latest)
  sources-dist.json
Labels: auto-checked

#3756 Update rssfeed to 2.9.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3759 rssfeed master -> main (stable)
  sources-dist-stable.json
Labels: auto-checked, Stable

#3760 Update rssfeed to 2.9.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3761 Update hmip to 1.23.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3555 Add egigeozone2 to latest
  sources-dist.json
Labels: lgtm, auto-checked, 21.6.2024

#3762 REMOVE egigeozone (stable)
  sources-dist-stable.json
Labels: Stable

#3764 Update email to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3771 Update mydlink to 1.3.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3773 Update fakeroku to 0.3.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3775 Update zendure-solarflow to 1.6.7
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable
