Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-07, with the labels that each got.

#3780 Update TibberLink to 3.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3779 Update robonect to 1.3.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#3778 Update dysonairpurifier to 3.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3786 Update onvif to 1.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3787 Update imap to 0.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3788 Update sun2000 to 0.11.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3789 Update growatt to 3.2.4
  sources-dist-stable.json
Labels: must be fixed, auto-checked, *📬, Stable

#3790 Update daikin-cloud to 0.4.6
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable

#3791 Update fullcalendar to 2.3.17
  sources-dist-stable.json
Labels: auto-checked, Stable

#3793 Update ford to 1.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3795 Update modbus to 6.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3796 Update alarm to 3.6.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3798 Update accuweather to 1.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3799 Update nissan to 0.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#3800 Add iopooleco 0.5.1 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#3801 Update gree-hvac to 1.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#3804 Update vis-2-widgets-radar-trap to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3807 Bump tado to 0.5.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#3806 Bump TibberLink stable to 3.3.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3797 Bump fuelpricemonitor to 0.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3808 REMOVE smartthings
  sources-dist-stable.json
Labels: Stable

#3812 Update telegram-menu to 1.74
  sources-dist-stable.json
Labels: auto-checked, Stable

#3810 Update doorbird to 1.6.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3811 Added opcua 1.0.3 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#3813 panasonic-comfort-cloud MASTER->MAIN (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3805 Update panasonic-comfort-cloud to 3.0.2
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable, STABLE - brand new, 17.7.2024

#3803 Update radar-trap to 2.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable, 14.7.2024

#3774 Update e3dc-rscp to 1.2.6
  sources-dist-stable.json
Labels: auto-checked, Stable, 15.7.2024

#3815 Update benchmark to 1.3.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3816 Update daikin-cloud to 0.4.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#3817 Update awtrix-light to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3818 Update birthdays to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3819 Update lametric to 3.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3820 Update pvforecast to 3.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3823 Update solax to 0.9.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#3824 Update shuttercontrol to 1.7.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3785 Add vis-2-widgets-rssfeed to latest
  sources-dist.json
Labels: must be fixed, auto-checked, (RE-)REVIEW pending (mcm1957), 15.7.2024

#3748 Add gotify-ws to latest
  sources-dist.json
Labels: must be fixed, auto-checked, 28.7.2024

#3705 Add bascloud to latest
  sources-dist.json
Labels: auto-checked, (RE-)REVIEW pending (mcm1957), 27.7.2024

#3825 Update homeconnect to 1.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3826 fix egigeozone2 link (latest)
  sources-dist.json
Labels: must be fixed, auto-checked

#3827 Bump TibberLink stable to 3.4.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3835 Update yahoo-stock-market to 0.0.7
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3836 Bump Kostal-Piko-BA stable to 4.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3837 Update mqtt-client to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3838 Update cec2 to 0.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#3839 Update smartgarden to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3843 Update velux to 0.0.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#3842 Update sql to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3844 Update yamaha to 0.5.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#3845 Update webCal to 1.3.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#3846 move pollenflug to community-adapters (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#3849 Update e3oncan to 0.9.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3848 Update web-ui to 1.11.3
  sources-dist-stable.json
Labels: Stable

#3850 Update discord stable to 2.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3860 Update ring to 5.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3867 Update meater to 1.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3870 Update myuplink to 0.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#3868 Update vis-homekittiles to 0.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3863 Update sainlogic to 0.11.4
  sources-dist-stable.json
Labels: auto-checked, Stable
