Repository ioBroker/ioBroker.repositories, pull requests merged in 2024-09, with the labels that each got.

#3997 Update reolink to 1.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#3992 Update fronius to 2.1.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3932 Update cloudflare to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - 0-Day PR, 30.8.2024

#3976 update innoxel to 0.4.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3998 Update hue to 3.12.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3959 Add vis-2-widgets-weather-and-heating to latest
  sources-dist.json
Labels: lgtm, auto-checked, 15.9.2024, New at LATEST

#4003 Update myuplink to 0.8.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4004 Update scheduler to 1.4.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4001 Update doorbird to 1.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4002 Update lightcontrol to 0.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4011 Update tractive-gps to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4005 Update zendure-solarflow to 1.8.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4007 Update alexa-shoppinglist to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4008 Update alexa-timer-vis to v1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4009 Update telegram-menu to v2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4012 Update vis-2-widgets-inventwo to 0.1.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#4010 Update Meteoalarm to 3.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4006 Update gotify-ws to 0.1.5
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4013 Update hiob to 0.1.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4016 Update melcloud to 2.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4017 Update ems-esp to 4.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4020 Update solarmanpv to 0.6.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4028 Update backitup to 3.0.22
  sources-dist-stable.json
Labels: auto-checked, Stable

#4021 Update amtronwallbox to 0.2.16
  sources-dist-stable.json
Labels: auto-checked, Stable

#4022 Update daswetter to 3.1.16
  sources-dist-stable.json
Labels: auto-checked, Stable

#4023 Update ebus to 3.3.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4024 Update heatingcontrol to 2.12.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#4025 Update pvoutputorg to 1.8.13
  sources-dist-stable.json
Labels: auto-checked, Stable

#4027 Update semp to 1.4.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4033 Update frontier_silicon to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4032 Bump Kostal-Piko-BA stable to 4.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4031 Update update musiccast to 1.1.4
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4030 Update philips-tv to 0.5.4
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4029 Update fhem to 3.0.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4037 Update fritzdect to 2.5.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#4014 Update jeelink to 1.2.5
  sources-dist-stable.json
Labels: auto-checked, Stable, 14.9.2024

#4018 Update lifx to 1.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable, 14.9.2024

#4038 Update growatt to 3.2.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4040 Update bidirectional-counter to 2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4041 Update janitza-gridvis to 3.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4042 Update govee-local to 0.2.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4044 Update sureflap to 2.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4043 Update wireless-mbus stable to 0.9.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4045 Update pushover to 4.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4046 Add fenecon 0.5.0 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#4047 Update residents to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4054 Update discovery to 5.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4048 Update renacidc to 0.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4049 Add rainbird 1.0.1 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#4051 Revert "REMOVE wiegand-tcp from latest (TEMPORARY)"
  sources-dist.json
Labels: auto-checked, ON HOLD

#4055 Update e3oncan to 0.9.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4053 Revert "REMOVE wiegand.tcp from stable (TEMPORARY)"
  sources-dist-stable.json
Labels: auto-checked, ON HOLD, Stable

#4058 Add vis-2-widgets-rssfeed 0.3.5 to stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, ON HOLD, new at STABLE, Stable

#4034 Add remeha-home to latest
  sources-dist.json
Labels: lgtm, auto-checked, New at LATEST, 28.9.2024

#4061 Update admin to 7.1.1
  sources-dist-stable.json
Labels: Stable

#4063 Add kisshome-research 1.0.4 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, STABLE - 0-Day PR

#4064 Update echarts to 1.9.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4065 update admin stable - hotfix host base settings
  sources-dist-stable.json
Labels: Stable

#4067 Update semp to 1.4.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4068 Update owntracks to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4070 Update kissathome-research to 1.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - brand new, 28.9.2024

#4069 Format documentation, migrate gulpfile.js to tasks.js
  LICENSE
  README.md
  gulpfile.js
  package.json
  tasks.js
Labels: auto-checked

#4075 Fix icon of wiegand-tcp LATEST
  sources-dist.json
Labels: must be fixed, auto-checked

#4076 Fix icon of wiegand-tcp STABLE
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4083 Moved kisshome-research@1.0.11 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#4084 Moved admin@7.1.5 to stable
  sources-dist-stable.json
Labels: Stable

#4077 Update TibberLink to 3.4.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#4079 Update lg-thinq to 1.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4080 Update worx to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4085 Update klf200 to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4086 Update procon-ip to 1.6.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4087 Update radar-trap to 2.2.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4088 Update vis-2-widgets-energy to 1.0.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3929 Add ecoflow-mqtt to latest
  sources-dist.json
Labels: must be fixed, auto-checked, *📬, New at LATEST, 28.9.2024

#4092 Update sources-dist.json - fix several links
  sources-dist.json
Labels: must be fixed, auto-checked

#4095 link2home master->main LATEST
  sources-dist.json
Labels: must be fixed, auto-checked

#4097 micronova master->main LATEST
  sources-dist.json
Labels: must be fixed, auto-checked

#4100 Update sureflap to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4102 myenergi master->main LATEST
  sources-dist.json
Labels: must be fixed, auto-checked

#4103 myenergi master->main STABLE
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4104 nui master->main LATEST
  sources-dist.json
Labels: must be fixed, auto-checked

#4105 niu master->main STABLE
  sources-dist-stable.json
Labels: Stable

#4106 fix resol link LATEST
  sources-dist.json
Labels: must be fixed, auto-checked

#4108 seko master->main LATEST
  sources-dist.json
Labels: must be fixed, auto-checked

#4109 seko master->main STABLE
  sources-dist-stable.json
Labels: Stable
