Repository ioBroker/ioBroker.repositories, pull requests merged in 2025-02, with the labels that each got.

#4524 Bump TeslaFi stable to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4523 Update rct to 1.2.17
  sources-dist-stable.json
Labels: auto-checked, Stable

#4525 Update janitza-gridvis to 3.4.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4513 Update senec to 1.6.17
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - brand new, 5.2.2025

#4527 Update accuweather to 2.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4532 Update tvprogram to 4.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4536 Update vis-homekittiles to 0.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4534 Update bshb to 0.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4535 Fixed typo and wrong branch for oxxify-fan-control adapter
  sources-dist.json
Labels: auto-checked

#4530 Update lupusec to 2.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable, 8.2.2025

#4531 Update contactid to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable, 8.2.2025

#4537 Change file format for ws - LATEST
  sources-dist.json
Labels: must be fixed, auto-checked

#4538 Change file format for ws - STABLE
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4540 Update alarm to 3.6.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4541 Update telegram-menu to 2.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4539 Bump TibberLink stable to 4.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4545 REMOVE mihome-lamp from STABLE
  sources-dist-stable.json
Labels: Stable

#4546 REMOVE paw from STABLE
  sources-dist-stable.json
Labels: Stable

#4547 REMOVE megaesp from STABLE
  sources-dist-stable.json
Labels: Stable

#4548 REMOVE tronity from STABLE
  sources-dist-stable.json
Labels: Stable

#4550 REMOVE hoover from STABLE
  sources-dist-stable.json
Labels: Stable

#4551 REMOVE megadd from STABLE
  sources-dist-stable.json
Labels: Stable

#4544 Update openligadb to 1.8.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4543 Update rssfeed to 3.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4542 Update artnet-recorder to 0.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4555 Update synochat to 1.3.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4529 Add asterisk 2.0.2 to stable
  sources-dist-stable.json
Labels: auto-checked, STABLE - Review needed, new at STABLE, Stable, 10.2.2025

#4533 Add playstation to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 17.2.2025

#4561 Update sureflap to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4568 REMOVE cleveron from STABLE
  sources-dist-stable.json
Labels: Stable

#4570 Bumb TeslaFi stable to 1.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4566 Update frontier_silicon to 0.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4565 Update sma-em to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4564 Update fullybrowser to 3.0.13
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4562 Update tagesschau to 0.5.0
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4554 Add maxxi-charge 1.4.9 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4572 Update flexcharts to 0.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4573 Update proxmox to 2.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4576 Update wifilight to 2.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4575 Update boschindego to 1.3.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#4574 Update ecoflow-mqtt to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4579 Update zendure-solarflow to 1.11.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4578 Update air-q stable version to 1.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4581 Update shuttercontrol to 1.8.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4582 Update mihome-vacuum to 5.2.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4585 Update myvbus to 0.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4569 Update cloudflare to 1.2.4
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable, 24.2.2025

#4586 Bump TibberLink stable to 4.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4588 Update mqtt-client to 3.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4584 Add bayernluft to latest
  sources-dist.json
Labels: lgtm, new at LATEST, 1.3.2025

#4599 Update reolink to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4592 Update philips-air to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4602 Update hui to 3.14.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4600 Update hmip to 1.26.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4601 Update webui to 1.25.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable
