Repository ioBroker/ioBroker.repositories, pull requests merged in 2025-04, with the labels that each got.

#4686 Revert "RESET vis-plumb (LATEST)"
  sources-dist.json
Labels: must be fixed, auto-checked

#4687 Revert "RESET vis-plumb (STABLE)"
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4681 Add controme 0.5.7 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4692 Update telegram to 4.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4690 Update flexcharts to 0.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4689 Update zendure-solarflow to 1.12.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4693 Bump Kostal-Piko-BA stable to 5.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4694 Add shrdzm to LATEST
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST

#4614 Add skiinfo to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 13.4.2025

#4639 add plenticore-g3 to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 13.4.2025

#4696 Update pegelalarm to 1.3.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4698 Update rpi2 to 2.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4669 Add fyta 0.1.5 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, 13.4.2025

#4699 Bump TeslaFi stable to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4700 Update hue to 3.16.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4701 Update shelly to 9.2.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4702 Update birthdays to 4.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4703 Update youtube to 6.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4705 Update apg-info to 0.1.14
  sources-dist-stable.json
Labels: auto-checked, Stable

#4706 Update sureflap to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4708 Update fritzdect to 2.6.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4709 Update shuttercontrol to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4710 Update email to 2.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4704 Fix repo url for plenticore-g3
  sources-dist.json
Labels: must be fixed, auto-checked

#4682 Update cloudflare to 1.2.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4711 Update maxxi-charge to 1.4.32
  sources-dist-stable.json
Labels: auto-checked, Stable

#4714 Update tado to 0.7.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4715 Update asterisk to 2.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4712 Update valloxmv to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4717 Update fullybrowser to 3.1.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4716 Update judoisoft to 1.1.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4718 Add shrdzm 0.2.0 to stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4720 Update schoolfree to 1.1.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#4722 Update webui to 1.27.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4713 Add comfoairq to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 21.4.2025

#4719 Add ankersolix2 2.1.0 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4723 Update sun2000 to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4724 Update doorbird to 3.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4730 Update dysonairpurifier to 3.2.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4726 Update smoothed to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4728 Update vis-2-widgets-rssfeed to 1.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4735 Update rct to 1.2.19
  sources-dist-stable.json
Labels: auto-checked, Stable

#4734 Update tado to 0.7.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#4740 Update govee-local to 0.2.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4733 Update fahrplan to 1.4.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable, STABLE - 0-Day PR, 22.4.2025

#4741 Update ecoflow-mqtt to 1.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4743 Update netatmo-energy to 2.8.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4742 Update hmip to 1.27.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4744 Update vis-2-widgets-weather-and-heating to 0.10.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4745 Update paperless-ngx to 0.4.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4746 Update TeslaFi to 1.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4747 Update lg-thinq to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4748 Update worx to 3.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4750 Replace icons with svg: vis-2, devices, rest-api
  sources-dist-stable.json
  sources-dist.json
Labels: CHANGES-BOTH-REPOSITORIES

#4751 Update-alexa-timer-vis-to-2.0.9
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4757 Update kisshome to 1.2.7
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4756 Update rssfeed to 3.5.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4761 Update apg-info to 0.1.15
  sources-dist-stable.json
Labels: auto-checked, Stable

#4760 Update tinymqttbroker to 0.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4759 Update solax to 0.9.17
  sources-dist-stable.json
Labels: auto-checked, Stable

#4749 Update mhi-wfrac to 2.1.3
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable
