Repository ioBroker/ioBroker.repositories, pull requests merged in 2025-08, with the labels that each got.

#4966 Update rct to 1.2.22
  sources-dist-stable.json
Labels: auto-checked, Stable

#4965 Update sureflap to 3.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4977 fix hoymiles-ms
  sources-dist.json
Labels: must be fixed, auto-checked

#4971 Update alexa-shoppinglist to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4972 Update onlycat to 0.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4975 Revert "Update sources-dist.json - SUSPEND BYDHVS"
  sources-dist.json
Labels: must be fixed, auto-checked, new at LATEST

#4976 Revert "Update sources-dist-stable.json - SUSPEND BYDHVS"
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4978 Update evcc to 0.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4984 Update mytime to 1.4.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4968 Add nextcloudtalk to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 11.8.2025

#4992 Update lorawan to 1.10.22
  sources-dist-stable.json
Labels: auto-checked, Stable

#4994 Update refoss to 1.1.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4998 Update hue to 3.16.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#5000 Update pegelalarm to 1.3.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#5001 Update gotify-ws to 0.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#5002 Update shuttercontrol to 2.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4999 Add pi-hole2 1.1.1 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#5007 Update vis-2-widgets-gauges to 2.0.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#5016 Update espresense to 0.6.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#5010 Add brightsky to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 11.9.2025

#5025 Update matter version to 0.5.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#5028 Update shrdzm to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5032 Update sureflap to 3.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable
