Repository ioBroker/ioBroker.repositories, pull requests merged in 2025-03, with the labels that each got.

#4609 Update deyeidc to 0.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4610 Update solarmanpv to 0.6.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4598 Update e3oncan to 0.10.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4608 Update airquality to 0.1.4
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4583 Update lorawan to 1.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable, 4.3.2025

#4354 Add ankersolix2 to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 7.3.2025

#4514 Add fyta to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 7.3.2025

#4560 Add seplos-v3-sniffer to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 7.3.2025

#4611 REMOVE nibeuplink
  sources-dist-stable.json
  sources-dist.json
Labels: CHANGES-BOTH-REPOSITORIES

#4612 Update lovelace to 4.1.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#4617 Update apcups to 4.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4618 Update gree-hvac to 1.1.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4616 Update vis-2-widgets-rssfeed to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4620 Update sia to 2.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4621 Update lupusec to 2.0.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4629 Update tado to 0.7.1 [emergency update]
  sources-dist-stable.json
Labels: auto-checked, Stable

#4624 Update e3dc-rscp to 1.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4626 Update uv-protect to 0.6.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4627 Update schoolfree to 1.1.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4628 Update gotify-ws to 0.1.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#4631 Update bidirectional-counter to 2.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4632 Update drag-indicator to 2.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4633 Update janitza-gridvis to 3.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4634 Update lowpass-filter to 2.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4635 Update operating-hours to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4594 Update x-touch to 0.7.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4638 Update rct to 1.2.18
  sources-dist-stable.json
Labels: auto-checked, Stable

#4642 Update tado to 0.7.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4643 Update yeelight-2 to 1.5.2
  sources-dist-stable.json
Labels: Stable

#4641 Update e3oncan to 0.10.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4640 Update vis-homekittiles to 0.4.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4619 Add Oxxify-Fan-Control 0.0.4 to Stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4645 Update fb-checkpresence to 1.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4646 Update solarviewdatareader to 1.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4647 Update logparser to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4661 Update fuelpricemonitor to 0.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4660 Update apg-info to 0.1.13
  sources-dist-stable.json
Labels: auto-checked, Stable

#4659 Update followthesun to 0.5.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4658 Update vis-weather to 2.5.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#4657 Update vis-2-widgets-weather-and-heating to 0.10.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4656 Update sbfspot to 4.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4655 Update pvoutputorg to 1.9.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4654 Update heatingcontrol to 2.12.14
  sources-dist-stable.json
Labels: auto-checked, Stable

#4653 Update ebus to 3.5.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4651 Update amtronwallbox to 0.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4650 Update solax to 0.9.16
  sources-dist-stable.json
Labels: auto-checked, Stable

#4652 Update daswetter to 3.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4662 Add seplos-v3-sniffer to 0.1.1 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4663 fyta - update icon URL at LATEST
  sources-dist.json
Labels: must be fixed, auto-checked

#4665 Update web to 7.0.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4623 Update bluesound to 1.1.5
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable

#4667 Made admin@7.6.3 stable
  sources-dist-stable.json
Labels: Stable

#4666 Update egigeozone2 to 1.0.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4625 Update jablotron to 0.1.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4668 Update tinker to 1.3.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4670 Update kecontact to 3.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4671 Add bayernluft 3.0.0 to stable
  sources-dist-stable.json
Labels: auto-checked, Stable

#4644 Add dnscope to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST

#4673 Update e3dc-rscp to 1.4.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4674 Bump TibberLink stable to 4.5.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4613 Add mhi-wfrac to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 13.4.2025

#4675 Update lovelace to 4.1.15
  sources-dist-stable.json
Labels: auto-checked, Stable
