Repository ioBroker/ioBroker.repositories, pull requests merged in 2025-10, with the labels that each got.

#5154 Update kecontact to 3.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5158 Update openligadb to 1.9.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#5161 Update brightsky to 0.3.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#5139 Update weathersense to 3.0.3
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, *📬, Stable

#5134 Update refoss to 1.2.4
  sources-dist-stable.json
Labels: auto-checked, Stable, 6.10.2025

#5166 Update ical to 1.17.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5165 Update s7 to 1.5.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, *📬, Stable

#5174 Update vis-2-widgets-icontwo to 1.8.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5173 Update lifx to 1.0.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#5172 Update ecoflow-mqtt to 1.4.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#5135 Add unraid to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 30.9.2025

#5179 Update e3dc-rscp to 1.4.3
  sources-dist-stable.json
Labels: auto-checked, Stable
