Repository ioBroker/ioBroker.repositories, pull requests merged in 2025-09, with the labels that each got.

#5039 Update ankersolix2 to 2.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5026 Add vis-jsontemplate to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 5.9.2025

#5003 Add sofarcloud to latest
  sources-dist.json
Labels: must be fixed, auto-checked, new at LATEST, 9.9.2025

#4980 Add p2pool to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 7.9.2025

#5045 Update lg-thinq to 1.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#5050 Added n8n to latest
  sources-dist.json
Labels: must be fixed, auto-checked, *📬, new at LATEST

#5053 Update sonoff version to 3.2.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#5058 Update discovergy to 0.6.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#5059 Update vis-2 to 2.13.4
  sources-dist-stable.json
Labels: Stable

#5061 Pls add vis-2-widgets-icontwo to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, *📬, Stable, STABLE - brand new, 21.9.2025

#5063 Update daikin-cloud version to 0.4.12
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#5065 Update radar2 to 2.4.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#5060 Update airquality to 0.1.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#5084 Update plenticore-g3 to 0.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#5081 Update ebus to 3.6.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#5079 Update melcloud to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#5083 Update brightsky to 0.2.4
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#5077 Pls change vis-2-widgets-icontwo type
  sources-dist.json
Labels: must be fixed, auto-checked, *📬

#5078 Update vis-2-widgets-icontwo to 0.28.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4979 Add xsense to latest
  sources-dist.json
Labels: auto-checked, RE-REVIEW pending (by mcm1957), new at LATEST, 4.9.2025

#5044 Update panasonic-comfort-cloud to 3.1.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable, 10.9.2025

#5086 Update myvbus to 0.6.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5087 Update sma-em to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5088 Update frontier_silicon to 0.5.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5091 Update schedule-switcher to 0.0.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#5094 Update artnet-recorder to 0.1.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#5092 Update x-touch to 0.8.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#5096 Update govee-local to 0.2.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#5089 Update vbus-gw to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#5042 Add smartloadmanager to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 17.9.2025

#5101 Bump TibberLink stable to 5.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#5103 Update accuweather version to 2.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#5116 Update vis-2-widgets-icontwo to 1.3.0
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable

#5107 Update pirate-weather to 0.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#5123 Update heizungssteuerung to 2.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#5124 Update shelly to 10.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5119 Update deyeidc to 0.3.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5126 Update gotify-ws to 0.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#5127 Update pegelalarm to 1.3.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#5128 Update remeha-home to 1.0.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#5132 Update tinker to 1.3.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#5143 Update vis-2-widgets-icontwo to 1.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#5146 Update zendure-solarflow to 2.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#5147 Update lovelace to 5.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable
