Repository ioBroker/ioBroker.repositories, pull requests merged in 2025-01, with the labels that each got.

#4427 Update rct to 1.2.16
  sources-dist-stable.json
Labels: auto-checked, Stable

#4428 Update kostal-piko-ba to 5.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4430 Update melcloud to 2.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4432 Update vis-homekittiles to 0.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4434 zigbee
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable, STABLE - brand new, 8.1.2025

#4433 Update alarm to 3.6.7
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4438 Update schedule-switcher to 0.0.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#4445 Update lowpass-filter to 2.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4444 Update alpha-ess to 3.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4452 Update enigma2 to 2.2.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4451 Update wolf-smartset to 1.2.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4435 Update judoisoft to 1.1.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4454 Update admin to 7.4.10
  sources-dist-stable.json
Labels: Stable

#4453 Update matrix-org to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4455 Update solarviewdatareader to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4456 Update lg-ess-home to 0.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4457 Update backitup to 3.0.31
  sources-dist-stable.json
Labels: auto-checked, Stable

#4458 Update spotify-premium Adapter stable to 1.5.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4459 Update selverf to 0.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4449 Update vis-icontwo to 1.11.0
  sources-dist-stable.json
Labels: auto-checked, Stable, 12.1.2025

#4437 Add bluesound 1.1.4 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, STABLE - 0-Day PR, 10.1.2025

#4439 Add ta-blnet 1.0.36 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4429 Add teslafi 1.0.0 to stable
  sources-dist-stable.json
Labels: must be fixed, auto-checked, new at STABLE, Stable, 25.1.2025

#4462 Update plex to 1.1.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4463 Update-alexa-shoppinglist-to-1.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4468 Update myuplink to 0.8.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4474 Update heytech to 1.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4475 Update deconz to 1.6.4
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#3922 Add paperless-ngx to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 27.12.2024

#4476 Bump TibberLink stable to 4.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4467 Add flexcharts 0.3.0 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, ⚠️check, Stable, STABLE - brand new, 15.1.2025

#4479 Update sainlogic to 0.11.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4480 Update schoolfree to 1.1.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4481 Update solax to 0.9.14
  sources-dist-stable.json
Labels: auto-checked, Stable

#4482 Bump kostal-piko-ba stable to 5.0.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4483 Update sun2000 to 0.18.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4486 Update uv-protect to 0.6.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4489 Update zigbee2mqtt to 3.0.2
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4487 Update gotify-ws to 0.1.11
  sources-dist-stable.json
Labels: auto-checked, Stable

#4488 Update remeha-home to 0.2.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4238 Add airquality to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 22.1.2025

#4494 Update squeezeboxrpc to 1.5.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4493 Update mytime to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4495 Update pegelalarm to 1.3.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4496 Update tinker to 1.3.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4497 Update viessmann
  sources-dist-stable.json
Labels: auto-checked, Stable

#4359 Add maxxi-charge to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 28.1.2025

#4498 Update roborock to 0.6.18
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4499 Update rpi2 to 2.3.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4477 Update weather-warnings to 0.7.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4501 Update e3oncan to 0.10.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4502 Update maxxi-charge - change type
  sources-dist.json
Labels: must be fixed, auto-checked

#4500 Update knx to 2.0.30
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4503 Update espresense to 0.4.8
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4492 Add vis-2-widgets-collection to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 28.1.2025

#4505 Update contactid to 2.0.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4504 Add Matter for Beta Start
  sources-dist.json
Labels: REVIEW needed (apollon77), auto-checked, new at LATEST

#4506 Update acme to 1.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4507 Update lgtv to 2.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4443 Add tagesschau to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 31.1.2025

#4508 Update sainlogic to 0.11.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4491 Add paperless-ngx 0.2.1 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, 28.1.2025

#4416 Add dreame adapter to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 1.2.2025

#4509 Update vis-material to 0.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4511 Update telegram to 4.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4512 Update bshb to 0.4.1
  sources-dist-stable.json
Labels: auto-checked, STABLE - Review needed, *📬, Stable, 31.1.2025

#4464 Add oxxify-fan-control to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 10.2.2025

#4440 Add ai-toolbox to latest
  sources-dist.json
Labels: lgtm, auto-checked, RE-REVIEW pending (by mcm1957), new at LATEST, 10.2.2025

#4441 Add ai-assistant to latest
  sources-dist.json
Labels: auto-checked, RE-REVIEW pending (by mcm1957), new at LATEST, 10.2.2025
