Repository ioBroker/ioBroker.repositories, pull requests merged in 2025-07, with the labels that each got.

#4910 Update dnscope to 0.2.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4911 Update gotify-ws to 0.2.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4917 Update vis-2-widgets-inventwo to 0.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4919 Update icontwo to 1.12.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4908 Add vis-2-widgets-collection to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, STABLE - brand new, 14.7.2025

#4729 Add steam to latest
  sources-dist.json
Labels: must be fixed, auto-checked, new at LATEST, 15.7.2025

#4923 Update shelly to 10.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4924 Update solax to 0.9.18
  sources-dist-stable.json
Labels: auto-checked, Stable

#4925 Update tinker to 1.3.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4930 Update sprinklecontrol to 0.2.19
  sources-dist-stable.json
Labels: auto-checked, Stable

#4932 Update schoolfree to 1.1.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#4898 Add pi-hole2 to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST, 29.7.2025

#4891 Add energy-tracker to latest
  sources-dist.json
Labels: auto-checked, new at LATEST, 29.7.2025

#4936 Update cloudflare to 1.2.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4938 Alexa2 3.27.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4944 REMOVE iwg-vpn (STABLE)
  sources-dist-stable.json
Labels: Stable

#4949 Update lametric to 4.1.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4948 Update awtrix-light to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4946 Update zendure-solarflow to 1.15.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4941 Update kecontact to 3.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4920 Add onlycat 0.3.0 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable, STABLE - brand new, 26.7.2025

#4950 Update enet to 2.0.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#4951 Update fullybrowser to 3.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - brand new, 3.8.2025

#4952 Update zigbee2mqtt to 3.0.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#4469 Update srm to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, ON HOLD, STABLE - Review needed, new at STABLE, Stable

#4953 Update bluesound to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4954 homepilot -> iobroker-community-adapters (LATEST)
  sources-dist.json
Labels: auto-checked

#4958 Update amtronwallbox to 0.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4959 Update ebus to 3.6.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4960 Update heatingcontrol to 2.12.15
  sources-dist-stable.json
Labels: auto-checked, Stable
