Repository ioBroker/ioBroker.repositories, pull requests merged in 2025-05, with the labels that each got.

#4762 Update valloxmv to 1.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4732 Update signifylights to 0.4.5
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - brand new, 5.5.2025

#4768 Update mediola-gateway to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4772 Update webcal to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4773 Update tado to 0.7.10
  sources-dist-stable.json
Labels: auto-checked, Stable

#4731 Update net-tools to 1.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - brand new, 5.5.2025

#4776 Update lcn to 3.0.1
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4774 Update hiob to 0.1.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4775 Update signifylights to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4763 Add refoss 0.1.11 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, ⚠️check, Stable, STABLE - brand new, 7.5.2025, 8.5.2025

#4781 Update mhi-wfrac to 2.1.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4778 Update plenticore-g3 to 0.1.1
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4782 Update gotify-ws to 0.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4785 Update gree-hvac to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4784 Update apcups to 5.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4783 Update lupusec to 2.0.8
  sources-dist-stable.json
Labels: auto-checked, Stable

#4779 Update zigbee2mqtt to 3.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable, 16.5.2025

#4780 Update bluelink to 3.1.3
  sources-dist-stable.json
Labels: must be fixed, auto-checked, *📬, Stable, 16.5.2025

#4787 Add Matter 0.5.0 to stable
  sources-dist-stable.json
Labels: Stable

#4790 Update wolf-smartset to 2.0.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4789 Bump TeslaFi stable to 2.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4793 Update remeha-home to 1.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4791 Move enet to stoffel7 (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4792 Move enet to stoffel7 (STABLE)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4794 Update email to 2.0.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4777 Update lorawan to 1.10.1
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - brand new, 18.5.2025

#4796 wireless-settings - fix type (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4797 wireless-settings fix type (STABLE)
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4798 hilink fix type (LATEST)
  sources-dist.json
Labels: must be fixed, auto-checked

#4795 Add skiinfo 0.5.0 to stable
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4802 REMOVE enet temporary (STABLE)
  sources-dist-stable.json
Labels: Stable

#4804 Revert "REMOVE enet temporary (LATEST)"
  sources-dist.json
Labels: must be fixed, auto-checked, new at LATEST

#4805 Revert "REMOVE enet temporary (STABLE)"
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4806 Update dnscope to 0.2.3
  sources-dist-stable.json
Labels: auto-checked, new at STABLE, Stable

#4815 Bump Kostal-Piko-BA stable to 6.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4817 Update airquality to 0.1.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4818 Update oxxify-fan-control to 0.0.6
  sources-dist-stable.json
Labels: auto-checked, Stable

#4819 Update zendure-solarflow to 1.13.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4820 Update maxxi-charge to 1.4.40
  sources-dist-stable.json
Labels: auto-checked, Stable

#4821 Update mhi-wfrac to 2.1.7
  sources-dist-stable.json
Labels: auto-checked, Stable

#4822 Update rct to 1.2.21
  sources-dist-stable.json
Labels: auto-checked, Stable

#4823 Update vis-inventwo to 3.3.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4827 Update frigate to 1.3.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4828 Update nsclient to 0.3.0
  sources-dist-stable.json
Labels: Stable

#4830 Update linktap to 1.0.3
  sources-dist-stable.json
Labels: auto-checked, Stable

#4832 Update backitup to 3.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4834 Update shelly to 9.5.1
  sources-dist-stable.json
Labels: auto-checked, *📬, Stable

#4835 Update reolink to 1.2.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4833 Update squeezeboxrpc to 1.6.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4838 Update radar2 to 2.3.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable
