Repository ioBroker/ioBroker.repositories, pull requests merged in 2025-06, with the labels that each got.

#4843 Update janitza-gridvis to 3.5.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4845 Update alarm to 3.7.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4844 Update ankersolix2 to 2.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4849 Update alexa-timer-vis to 2.1.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4848 Add drops-weather to latest
  sources-dist.json
Labels: lgtm, auto-checked, new at LATEST

#4852 Update flexcharts to 0.4.1
  sources-dist-stable.json
Labels: auto-checked, Stable

#4854 countdown and meteoalarm -> community LATEST
  sources-dist.json
Labels: must be fixed, auto-checked

#4855 countdown and meteoalarm -> community STABLE
  sources-dist-stable.json
Labels: Stable

#4856 Removed kisshome-research
  sources-dist-stable.json
  sources-dist.json
Labels: CHANGES-BOTH-REPOSITORIES

#4858 Update e3oncan to 0.10.9
  sources-dist-stable.json
Labels: auto-checked, Stable

#4859 Update plenticore-g3 to 0.1.2
  sources-dist-stable.json
Labels: auto-checked, Stable

#4860 Update odl to 5.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4864 Update systeminfo to 1.3.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4866 netatmo-crawler -> community STABLE
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4867 Update webui to 1.30.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4868 Update canbus to v2.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4869 Update netatmo-crawler to 1.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4862 Update Energiefluss-erweitert to 0.7.7
  sources-dist-stable.json
Labels: auto-checked, Stable, STABLE - brand new, 26.6.2025

#4873 Update fb-checkpresence to 1.4.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4874 Update telegram-menu to v2.4.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4879 Update countdown to 3.0.0
  sources-dist-stable.json
Labels: must be fixed, auto-checked, Stable

#4880 Update worx to 3.2.4
  sources-dist-stable.json
Labels: auto-checked, Stable

#4876 update hs100 to 3.0.5
  sources-dist-stable.json
Labels: auto-checked, Stable

#4886 Update vis-weather to 2.5.12
  sources-dist-stable.json
Labels: auto-checked, Stable

#4884 Update sbfspot to 5.0.0
  sources-dist-stable.json
Labels: auto-checked, Stable

#4883 Update pvoutputorg to 1.9.2
  sources-dist-stable.json
Labels: auto-checked, Stable, REVIEW pending (by mcm1957)

#4893 Update apg-info to 0.1.19
  sources-dist-stable.json
Labels: auto-checked, Stable

#4894 Update vis-2-widgets-rssfeed to 1.2.0
  sources-dist-stable.json
Labels: auto-checked, Stable
